[2013-06-09 17:35] crynobone opened #1 "Add readme"

[2013-06-09 17:53] crynobone opened #2 "Unit test for unit test helper"

[2013-06-11 07:20] crynobone opened #3 "Add laravel/framework as requirement."
This could help development on process.

[2013-06-11 07:22] #1 closed, assigned to crynobone

[2013-06-11 07:22] #3 closed, assigned to crynobone

[2013-07-01 09:52] schickling opened #4 "Laravel dependency"
Is the laravel dependency via composer really needed? Aren't some packages of the laravel-framework (illuminate components) enough? Would be more lightweight and feels "cleaner".

[2013-07-01 10:03] crynobone opened #5 "Add a note regarding using with Laravel 4.0 and Laravel 4.1"
As explained in #4

[2013-07-01 13:44] #4 closed, assigned to nobody

[2013-07-17 00:35] #5 closed, assigned to crynobone

[2013-07-18 14:23] #2 closed, assigned to crynobone

[2013-07-19 16:14] crynobone opened #6 "Artisan migrate call failed."
Exception:

[code]

Reference: http://forums.laravel.io/viewtopic.php?pid=47727#p47727

[2013-07-19 19:38] #6 closed, assigned to crynobone

[2013-07-26 11:42] inkrement opened #7 "Does not load dependencies correctly"
I want to use Unittests within a new package and therefore I added

[code]

to my composer.json. After an _composer update_ and a _phpunit_ I get the following error.

[code]

It seems like the dependencies are not loaded correctly - maybe there is a missing requirement.

[2013-07-26 12:05] inkrement opened #8 "Is it possible to use migrations and new specific models?"
As example. I want to create some messaging-package for laravel4 (https://github.com/inkrement/l4-messenger). Therefore I want to test the new models. Would It be possible to change the database-settings (use sqlite), run migrations and then test the models?

[2013-07-27 07:05] #8 closed, assigned to nobody

[2013-08-01 12:15] #7 closed, assigned to crynobone

[2013-08-08 20:45] janhartigan opened #9 "Usage issue on the forums"
Hey @crynobone, this user might need your help in the forums:

http://forums.laravel.io/viewtopic.php?id=11620

[2013-08-27 21:38] markalanevans opened #10 "Does the require statement go inside your package or in the app"
I added the require statement and then from the package root, i did composer update and it installed a bunch of goodies into the vendors dir.

Is that what you expected to happen?

[2013-08-27 21:42] markalanevans opened #11 "Working with Workbench"
Can you clarify what you mean?

Do you want us to remove the

[code]

line from the require block before doing the composer update call?

[2013-08-27 21:43] markalanevans opened #12 "Add example usage of a package?"
In your readme add an example of how to access your package in a unit test...

[2013-08-29 04:11] #12 closed, assigned to nobody

[2013-09-18 13:03] #11 closed, assigned to nobody

[2013-09-18 13:03] #10 closed, assigned to nobody

[2013-10-01 03:35] #9 closed, assigned to nobody

[2013-10-06 23:23] morphatic opened #13 "Testbench ignores before filter when testing routes?"
Thank you for testbench!  I've run into a snag.  I'm trying to test a package in my workbench that creates a route with a filter:

[code]

My test case looks like:

[code]

It appears that when I run my test, the filter is not being executed because I get the error `Class 'test' not found...` triggered from the line `$bar = new $bar();`  If I change my route to:

[code]

Then the test passes as ex

[2013-10-07 03:16] #13 closed, assigned to nobody

[2013-10-13 23:05] morphatic opened #14 "Successive calls to $this->app['artisan']->call() in setUp() fails"
Following [your example](https://github.com/orchestral/testbench/blob/master/tests/DatabaseFixtureTest.php) I have been trying to run several migrations as follows:

[code]

When I run my tests I get:

`PHP Fatal error:  Call to undefined method Illuminate\Console\Application::call() in /path/to/MyTest.php on line 30`

To investigate this I inserted the following after every reference to `$this->a

[2013-10-14 06:45] #14 closed, assigned to crynobone

[2013-10-23 17:23] ezynda3 opened #17 "Unknown Action"
Whenever I try to call $this->action('GET', 'MyController@index');

I get InvalidArgumentException: Unknown action [MyController@index]

My controller is located in workbench/vendor/app/src/controllers and  src/controllers has been added to classmap on my composer.json file.

Any ideas why this may be happening?

[2013-10-25 10:15] schickling opened #18 "LiveServiceProvider not found"
Today I wanted to fix a bug in https://github.com/schickling/laravel-backup, cloned the repo, installed deps via composer and ran `phpunit`. I got:

[code]

I suspect `Testbench` to be the reason, since the error only occurs for tests which extend `Orchestra\Testbench\TestCase`

[2013-10-25 11:30] #18 closed, assigned to nobody

[2013-10-27 15:03] #17 closed, assigned to crynobone

[2013-10-28 15:46] crynobone opened #19 "App booting changes for Laravel 4.1"
With the introduction of stack/builder, the application bootstrap process has include some changes which I would believe broke 2.1.

[2013-10-28 16:21] crynobone opened #20 "Update changelog and release 2.0.6"

[2013-11-01 10:54] #20 closed, assigned to crynobone

[2013-11-01 12:42] crynobone opened #21 "Update Laravel 4.1 Service Providers lists."

[2013-11-01 13:52] #21 closed, assigned to crynobone

[2013-11-03 05:00] #19 closed, assigned to crynobone

[2014-01-05 00:35] morphatic opened #28 "Fatal Error: cannot redeclare class... when running parent app with orchestra\testbench in workbench"
I'm writing a package from the workbench.  Orchestra\Testbench works great, and I have no trouble running my tests from the command line using phpunit.

However, if I try to visit the parent app in the browser I get a fatal error:

[code]

Pretty sure the problem is that the parent app is trying to load Laravel again from the workbench.  Is there a setting or workaround to prevent this?

[2014-01-29 03:29] #28 closed, assigned to crynobone

[2014-02-02 13:26] RickvdP opened #29 "Call to undefined method Illuminate\Foundation\Providers\ArtisanServiceProvider::when()"
Hi,

This is the first time I (try to) use this package to use within the laravel workbench, but I get stuck on this error:

[code]

This issue seems to be already noted here laravel/framework#3282 so I tried following their solution by upping testbench's illuminate/support requirement to 4.\* but I don't seem to get it working.

[2014-02-02 15:20] #29 closed, assigned to crynobone

[2014-02-02 16:35] dimsav opened #30 "[Suggestion] Example in the readme file"
It may sound silly but I spend 4 hours to understand how to setup the configurations and the migrations of my first laravel package. I was a big relief when I discovered this file: `tests/DatabaseFixtureTest.php`

It would be very helpful (and I wouldn't spend this time searching) if you had a small chapter in the read me file, with title "Example", linking to the mentioned file.

Thanks for this

[2014-02-03 12:50] #30 closed, assigned to crynobone

[2014-02-17 23:55] bkuhl opened #32 "Unable to shake PHP Fatal error: Cannot redeclare crypt_random_string() (previously declared"
I've followed the instructions within workbench and it works great... however when I apply the same repository to my project as instructed it fails to resolve the issue.  Here's my `composer.json`

[code]

I've also tried deleting `vendor/phpseclib` and dumping autoload to force it to fetch a new one.

[2014-02-18 17:11] #32 closed, assigned to crynobone

[2014-02-19 13:57] peterjcaulfield opened #33 "Fatal error: Class 'Orchestra\Testbench\TestCase' not found"
I have installed the testbench package as per the instructions on the repo's README file. Then when I cd in to my packages tests directory and run:

[code]

I get:

[code]

It throws the error on the following line:

[code]

My composer.json looks like:

[code]

[2014-02-19 14:01] intrip opened #34 "Troubles with artisan->call inside workbench phpunit test"
Hello, i'm using orchestral/testbench@2.1.1 inside a workbench in laravel 4.1. i'm trying to run artisan from a unit test to prepare the database for my integration tests. The code works perfectly from the console as you can see:

[code]

While from the unit test the code runs with no error, but doesn't create any table. Here is the code in the test:

[code]

Not only my migrations are not working

[2014-02-19 14:01] #33 closed, assigned to crynobone

[2014-02-19 14:29] #34 closed, assigned to crynobone

[2014-02-20 00:12] peterjcaulfield opened #35 "Class 'BaseController' not found error when testing controller actions"
I have a controller in my workbench that extends Laravel's BaseController. This is fine when running routes in browser but when running a unit test and making a http request with:

[code]

I get an error stating BaseController cannot be found. phpunit is running with the bootstrap switch set to vendor/autoload.php.

Do I need some additional config to test controllers with testbench?

[2014-02-20 01:42] #35 closed, assigned to crynobone

[2014-02-20 14:03] intrip opened #36 "Mocking Eloquent"
Was wondering if it's possible to use Model::ShouldReceive() to mock Eloquent object when extending testBench?

[2014-02-20 14:07] #36 closed, assigned to nobody

[2014-02-20 14:26] crynobone opened #37 "Add some note on when you should really need Testbench over PHPUnit_Framework_TestCase"

[2014-03-05 00:11] uqcgreen opened #38 "Question: Alternate database configuration whilst testing"
Hi,

I'm seeding an sqlite database for my 'testing' environment via http://laravel.com/docs/migrations#database-seeding

Then when I try to run the tests it says it knows nothing about the connections I have in app/config/testing/database.php, eg:

[code]

When I debug this in laravel/framework/src/Illuminate/Database/DatabaseManager.php, I instead see a list of connections from:
orchestra/testbe

[2014-03-05 00:26] #38 closed, assigned to nobody

[2014-03-14 03:03] Flynsarmy opened #39 "ReminderServiceProvider causes getEnvironmentSetUp() to fail"
I was having an issue where `getEnvironmentSetUp()` method is never called. Did a bit of digging and the issue appears to only occur when `Orchestra\Foundation\Reminders\ReminderServiceProvider` is included in `getPackageProviders()`.

In `Orchestra\Testbench\TestCase` class you have the following lines:

[code]

That last line is never reached if `Orchestra\Foundation\Reminders\ReminderServicePro

[2014-04-08 22:35] kirkbushell opened #40 "Issue with mocking"
Since installing this I now get these errors:

[code]

This is a result of mocking out the View class in mockery:

[code]

How should I now approach these situations?

[2014-04-09 11:58] #40 closed, assigned to crynobone

[2014-04-18 08:40] kirkbushell opened #41 "Cannot get artisan migrations to run"
I followed the great example you guys have over here: https://github.com/orchestral/testbench/blob/master/tests/DatabaseFixtureTest.php

So far, so good - except for migrations. If I run it manually from the command line, I can see that it works, but if I try and do it from the artisan->call method, my sanity check below it fails (no table exists), meaning that either the migrations never ran corr

[2014-04-18 12:36] #41 closed, assigned to crynobone

[2014-04-25 00:14] zgosalvez opened #42 "Could not fetch phpseclib"
Could not fetch https://api.github.com/repos/orchestral/phpseclib, enter your GitHub credentials to go over the API rate limit.

[2014-04-25 07:06] #42 closed, assigned to crynobone

[2014-05-05 10:58] lucadegasperi opened #43 "[Proposal] Support for Behat"
Hello,
I'm starting to use Behat for some functional testing and would love to be able to boot a Laravel app from this package and use it with Behat. This package being the de-facto standard for testing Laravel packages, seems like a good fit for such feature.
If you don't plan on having said feature I would then like, with your consent, to take inspiration from your package to implement my own.

[2014-05-13 11:54] kirkbushell opened #44 "Testing route calls / integrated tests"
Hey there.

Just curious if there's anything special we need to do when testing routes?

Whenever I do the following:

[code]

It always returns a 404, despite the fact that I can access that route in the browser. I understand filters are disabled, so that's fine. When I run php artisan routes, I see the following:

[code]

So I should be seeing it all, but for some reason via tests it doesn't see

[2014-05-13 12:05] #44 closed, assigned to nobody

[2014-06-04 10:24] crynobone opened #46 "Inline control structures (nested ifs without braces f.e.) should not be used."
see https://scrutinizer-ci.com/g/orchestral/testbench/inspections/7a1eff04-d43b-42d8-bb82-2a9806d830d4/issues/files/src/Testbench/Traits/PHPUnitAssertionsTrait.php?status=new&orderField=path&order=asc#inspectioncomment-88874799

[2014-06-04 15:36] #46 closed, assigned to nobody

[2014-06-04 15:39] #37 closed, assigned to nobody

[2014-06-09 14:14] jenssegers opened #47 "Release version for Laravel 4.2"
Can you tag a stable 2.2 version for Laravel 4.2 please.

[2014-06-12 02:17] #47 closed, assigned to crynobone

[2014-07-02 03:56] santiblanko opened #50 "Database in memory problems in 4.1 version"
If I use mysql no problems. But if I use in sqlite in memory database there are problems....
If I not use testbench package with memory database its works perfect.

[2014-07-02 04:32] #50 closed, assigned to nobody

[2014-07-11 15:17] DanSmith83 opened #51 "How can I update config inside of a test?"
Hi,

I have some code in a package which throws exceptions in the boot method of the service provider if invalid config is provided.

I know I can set config in the getEnvironmentSetup method but I want to set individual configs with invalid values on a per-test basis in order to test that the exceptions are being thrown correctly if .

Is there a way I can do this?

I tried mocking Config::get()

[2014-07-11 16:57] #43 closed, assigned to nobody

[2014-07-14 07:30] #51 closed, assigned to nobody

[2014-08-02 11:30] GrahamCampbell opened #53 "New Laravel 4.3 Fixture"
The new Laravel 4.3 fixture is not supported yet.

[2014-08-02 11:57] #53 closed, assigned to nobody

[2014-08-04 18:53] tmountjr opened #54 "using environment-specific config files in testbench"
Laravel provides a way of using environment-specific configuration files as a way to set up environment variables that don't get committed to a central repository. Is there a way to use those files while running tests from testbench?

[2014-08-22 01:35] #54 closed, assigned to nobody

[2014-09-12 10:50] kirkbushell opened #55 "Registering service providers"
Doesn't appear to call any of the service providers that the one you've added provides?

We have our main package provider, which also provides about 10 others - but these never seem to get loaded within testbench. Any ideas why or how to resolve this? I can add them all manually, but that seems a bit strange to have to do it in testbench as well?

[2014-09-12 14:34] #55 closed, assigned to crynobone

[2014-09-30 12:32] Daveawb opened #56 "Using Behat"
Is there any documentation hidden away for the new Behat integration? I'm using behat without Orchestra at the moment and would love to move it into my application. If there is not documentation could someone offer some guidance on how to achieve this?

[2014-10-07 02:42] willrowe opened #58 "Cache and session config files should be array"
The cache and session config files should be like those in the testing environment folder in Laravel. The drivers should be set to `array` and not `file`. There can be collision between tests when the cache and sessions would be expected to be cleared since the application is refreshed, but since they're stored in files they are persisted between all tests in a suite and even between instances of

[2014-10-07 16:05] #58 closed, assigned to crynobone

[2014-10-07 23:51] crynobone opened #60 "Call to undefined method Illuminate\Routing\Router::disableFilters()"
PHP Fatal error:  Call to undefined method Illuminate\Routing\Router::disableFilters() in /home/travis/build/orchestral/testbench/tests/RouteTest.php on line 12

[2014-10-08 00:08] #60 closed, assigned to crynobone

[2014-12-06 10:14] GrahamCampbell opened #71 "Broken With Latest Laravel 5"
[code]

[2014-12-06 12:18] #71 closed, assigned to crynobone

[2014-12-08 07:16] aedart opened #73 "[Laravel 5.x] resolveApplicationCore cannot use Illuminate\Config\FileLoader"
Amongst the latest updates, the configuration handling has been changed in Laravel, meaning that loading configuration files, no longer makes use of Illuminate\Config\FileLoader (which no longer exists either). Running tests is thereby impossible.

This defect occurs in the `resolveApplicationCore` method, in the ApplicationTrait

[2014-12-08 07:27] #73 closed, assigned to crynobone

[2014-12-23 15:24] #39 closed, assigned to crynobone

[2015-01-06 10:57] #56 closed

[2015-01-07 15:53] kirkbushell opened #74 "Testing on Laravel 5 - issue with contract instantiation"
This is the bug I'm currently getting running on the 3.0.x@dev:

Illuminate\Container\BindingResolutionException: Target [Illuminate\Contracts\Debug\ExceptionHandler] is not instantiable. in vendor/laravel/framework/src/Illuminate/Container/Container.php on line 792

[2015-01-07 16:15] crynobone commented on #74
Can you test above change

[2015-01-07 16:21] kirkbushell commented on #74
Works - great job :)

[2015-01-07 16:21] kirkbushell commented on #74
And wow at your fast response! Good stuff man!

[2015-01-07 16:39] #74 closed

[2015-01-07 22:05] stygiansabyss opened #75 "Idea: Docs for different testers"
I looked through the closed issues and a see a few issues regarding other test frameworks.  I was wondering if you would be willing to make a doc section for the frameworks and how your package would interact with them.

phpspec, phpunit, codeception, behat

Thank you either way :)

[2015-01-07 23:46] crynobone commented on #75
It only been tested with phpunit and behat. Either way pull request is always open for those who have tested it on other platform.

[2015-01-07 23:46] #75 closed

[2015-02-04 21:18] micheleangioni opened #77 "[3.0] Timezone ID '' is invalid"
Hi,
I'm currently having issues by using 3.0 Testbench version on the Laravel 5 conversion of a package of mine.

The package is [Message Board](https://github.com/micheleangioni/message-board) and Travis gets [my same error](https://travis-ci.org/micheleangioni/message-board/jobs/49501600).

The composer.json is quite simple

    "require": {
        "php": ">=5.4.0",
        "chromabits/purifier

[2015-02-05 00:31] crynobone commented on #77
Should be fixed, thank you for the report.

[2015-02-05 09:54] micheleangioni commented on #77
Glad it helped!

[2015-02-06 20:45] micheleangioni commented on #77
@crynobone I tried the updated version [the tests still error](https://travis-ci.org/micheleangioni/message-board/jobs/49789606) :(

Commit 0a6a9e7ecda38cfbd7fd47552c8b65969f553db8 modifies src/Traits/ApplicationTrait.php after the erroring line (line 199 with $app->make('Illuminate\Foundation\Bootstrap\LoadConfiguration')->bootstrap($app);)

I think the problem is that, even if date_default_timez

[2015-02-06 22:43] crynobone commented on #77
The purpose of LoadConfiguration is loading the config, which would get the default value from fixture directory.

[2015-02-07 03:34] crynobone commented on #77
Why the issue occur:

1. The TestCase reset the base path to your package src, instead of testbench fixture dir.
2. The would cause fixture `config/app.php` to not properly loaded.
3. There also limitation on how `php artisan migrate` works.

[2015-02-07 10:33] GrahamCampbell commented on #77
Surely this issue only occurs due to incorrect usage so we're fixing a non-issue?

[2015-02-07 10:38] crynobone commented on #77
Not really, the suggested method is to point the base directory to your package dir. But by doing so the fixture is no longer referenced.

At the moment I feel that allowing to specific a realpath to `php artisan migrate` is the most suitable option <https://github.com/orchestral/testbench/commit/ab0fde7610985a689c19cf40c5daefdf633186e5>

[2015-02-07 11:21] micheleangioni commented on #77
@crynobone the last commit fixed the problem :+1:  I agree the only option was to use a custom LoadConfiguration.

However, I had also to add a /storage/framework directory under my src directory, where a services.json file is created. Maybe that should be added in the docs.

@GrahamCampbell well, the test was erroring at the very beginning, at the parent::setUp(); call in the setUp() method. I ju

[2015-02-07 14:07] #77 closed

[2015-02-11 21:16] GrahamCampbell opened #78 "3.0.1 -> 3.0.2 Brakes Everything"
Looks like we're not booting correctly: https://travis-ci.org/BootstrapCMS/CMS/jobs/50404411.

[2015-02-11 23:14] crynobone commented on #78
I tried downloading the repo, but I can't seem to find `app:install` console class.

[2015-02-11 23:41] crynobone commented on #78
Under `GrahamCampbell\Testbench\AbstractAppTestCase` add the following:

[code]

Only packages testcase need to use `Orchestra\Testbench\Bootstrap\LoadConfiguration`

[2015-02-11 23:41] #78 closed

[2015-02-12 19:06] GrahamCampbell commented on #78
Oh right, thank you. :)

[2015-02-17 23:11] cviebrock commented on #77
I'm running into the same problem with my test setup, in that my tests fail with:

[code]

This is with running `3.0.x@dev`, BTW.  Any ideas?

[2015-02-17 23:20] crynobone commented on #77
I think it should be best not to change the base path unless you have a specific reason for it. Previously we do this to make it easier to run migration, but now you can just simply use `$artisan->call('migrate', ['--realpath' => '/path/to/your/package/migrations']);`

[2015-02-17 23:50] cviebrock commented on #77
Yeah, I had a `getBasePath` method in my test.  Removed it, and it all works.

[2015-02-20 15:19] nWidart opened #79 "Unable to fully swap base path on Laravel 5"
Hello,
I'm trying to run my tests, that are creating a folder.
I use the following to define the wanted path:

[code]
When I dump this using `dd` I get : `"/Users/nicolaswidart/Sites/Asguard/IndividualModules/Workshop/Tests/../Modules/TestingTestModule"`, which is correct.

Though when calling an artisan command that is suppose to generate it, it makes it under `vendor/orchestra/testbench/fixtures

[2015-02-20 15:23] crynobone commented on #79
Yes, because the way Laravel 5 resolve path no longer work the same as Laravel 4. Change `$app['path.base']` might or might not give any affect depending on how the command fetch the path.

Have you look at <https://github.com/laravel/framework/blob/5.0/src/Illuminate/Foundation/Application.php#L228>

[2015-02-20 15:26] nWidart commented on #79
Oh okay.
Used `$app->setBasePath(__DIR__ . '/..');` now to setup the base path, though it still generates in the wrong folder.

Thank you,

[2015-02-20 15:28] crynobone commented on #79
Still getting `vendor/orchestra/testbench/fixtures/Modules/TestingTestModule`?

[2015-02-20 15:30] nWidart commented on #79
Yes.

When dumping `dd(__DIR__ . '/..', $app->basePath());`, here:

[code]
I do get
[code]

But for some reason it isn't using that in the test.
In test now:

[code]

[2015-02-20 16:00] crynobone commented on #79
The only location where we mess with base path is at <https://github.com/orchestral/testbench/blob/3.0/src/Traits/ApplicationTrait.php>, you can also try swapping `getBasePath()` but that could also have some side-affect.

Otherwise might be also consider:

[code]

[2015-02-20 16:03] nWidart commented on #79
[code]
Still generates in the fixtures folder.

How would you swap that `getBasePath()` method ?
Wouldn't that make the `fixtures/config` folder useless ?

Thanks!

[2015-02-20 16:07] crynobone commented on #79
https://github.com/orchestral/testbench/blob/3.0/src/Bootstrap/LoadConfiguration.php#L52 I enforced the the bootstrap to explicitly look inside `fixture/config`.

Basically almost the same as you would right now, the problem with this is that every path in Laravel 5 is relative to the `path.base`, so once you change it, storage path would also changed (unlike Laravel 5 where every path is defined

[2015-02-20 16:35] nWidart commented on #79
Hm okay. Still don't really get how to 'force' the base path though.

Thanks,

[2015-02-21 12:14] crynobone commented on #79
It going to create issue where it would try to generate `services.json` inside none existing storage path (when you change base path location). Wouldn't it not be possible to recreate a full `fixtures` (that mimic the application skeleton), and build your module based on that directory?

[2015-02-21 12:27] nWidart commented on #79
Hm recreate a `fixtures` folder you mean ? Like inside `Tests/Fixtures` ?  That would be possible, it I can change the base path..
Would I did for know, as a temporary solution, is moving the generated code, from you `fixtures` folder, to the desired location in the `Tests` directory. This isn't very clean, also adds unnecessary IO operations, but it works for now.

[2015-02-21 12:29] crynobone commented on #79
[code]

[2015-02-21 22:15] willrowe commented on #58
It looks like the the default driver for the cache is back to `file` instead of `array` in v3.0, was this done on purpose?

[2015-02-21 22:16] GrahamCampbell commented on #58
Looks like a bug to me.

[2015-02-22 03:00] crynobone commented on #58
Could also add environment variable in your phpunit.xml while a fix could
be merged.
On Feb 22, 2015 6:16 AM, "Graham Campbell" <notifications@github.com> wrote:

[2015-02-26 05:02] crynobone opened #80 "Run Travis-CI on nightly PHP 7 build for 2.1 and above."

[2015-02-26 17:02] #80 closed

[2015-03-08 15:43] Jeroen-G commented on #79
This did the trick for me:
[code]
The `/.../` that the dd dump showed is actually not correct, it should show the full path.

[2015-03-12 22:42] GrahamCampbell opened #81 "Broken After Taylor Moved The Services And Compiled Files"
https://travis-ci.org/BootstrapCMS/Credentials/jobs/54171707

[2015-03-12 22:42] GrahamCampbell commented on #81
[code]

[2015-03-12 23:08] #81 closed

[2015-03-17 14:34] FractalizeR opened #84 "There is no PHPUnit_Extensions_Database_TestCase descendant to inherit from"
I think descendants should be provided for all phpUnit base test classes to descend from. For example, I have database tests, which currently descend from \Orchestra\Testbench\TestCase. They are [treated by phpUnit as `@small` by default](http://stackoverflow.com/a/10520905/173677).

I would like to use phpUnit default behavoir instead of marking my classes with `@large`. Is that possible with tes

[2015-03-17 16:51] FractalizeR opened #85 "Shouldn't ApplicationTrait::refreshApplication() be called in setUpBeforeClass(), instead of setUp()?"
[code]

Shouldn't this run in `setUpBeforeClass()` (once per test suite) rather than in` setUp()` (before each test)?

In this case, however, `app` member should be made static since `setUpBeforeClass` is static.

[2015-03-17 23:56] crynobone commented on #84
Just create your own implementation.

[code]

[2015-03-17 23:56] #84 closed

[2015-03-17 23:57] crynobone commented on #85
`app` shouldn't be static, and shouldn't inherit between test.

[2015-03-17 23:57] #85 closed

[2015-03-18 07:10] FractalizeR commented on #84
Thanks! :)

[2015-03-18 07:11] FractalizeR commented on #85
Yea, saw that. Sorry for stupid question.

[2015-03-21 01:49] crynobone commented on #79
I'm closing this for now, if anyone has any suggestion on how to handle requirement around Laravel limitation feel free to share it here, PR are welcomed too :)

[2015-03-21 01:49] #79 closed

[2015-03-23 10:47] nWidart commented on #79
I've set the basepath to :

[code]
But still getting the wrong path in the laravel test:

[code]

[2015-03-23 10:58] crynobone commented on #79
As I said earlier, just changing `$app['path.base']` doesn't always change everything. `$this->app->basePath()` doesn't fetch the value from `$this->app['path.base']`.

[2015-03-27 08:31] nWidart opened #86 "failing to find services.json"
Hello,

I'm getting an error when running an 'empty' test suite, with only a custom service provider loaded:

[code]

Some permission problem maybe ?

Thank you,

[2015-03-27 08:50] crynobone commented on #86
You testing against Laravel 5.1 already? :+1:

I'll have this fixed soon.

[2015-03-27 09:05] nWidart commented on #86
Hm on 5.0 still.
Ah, I see, composer got testbench 3.1.

Thanks for the heads-up, forced it back to 3.0.* :)

[2015-03-27 09:05] #86 closed

[2015-03-27 09:10] crynobone commented on #86
Fixed on 3.1 as well.

[2015-03-27 09:10] nWidart commented on #86
Awesome :smiley:

[2015-04-10 06:53] nWidart opened #87 "Laravel not finding migrations - sometimes"
Hello,

I'm having a weird issue, where laravel can't find the migrations to run, and thus tests are failing due to those missing tables.

I do have a [method to setup and run](https://github.com/AsgardCms/Menu/blob/develop/Tests/BaseMenuTest.php#L64) migrations, that works on other packages without problems ... just here, it doesn't for some weird reason that I can't seem to figure out.

The migr

[2015-04-10 11:32] crynobone commented on #87
why not use `--realpath` option.

[2015-04-10 11:33] nWidart commented on #87
I don't see that option:

![screen shot 2015-04-10 at 1 33 18 pm](https://cloud.githubusercontent.com/assets/882397/7086882/3aebd134-df86-11e4-8dd5-37a89cabf199.png)

[2015-04-10 11:52] crynobone commented on #87
Testbench is not using `Illuminate\Database\MigrationServiceProvider` but instead `Orchestra\Database\MigrationServiceProvider` which has this option.

<https://github.com/orchestral/testbench/blob/master/tests/DatabaseFixtureTest.php#L30>

[2015-04-10 12:19] crynobone commented on #87
![screen shot 2015-04-10 at 8 18 57 pm](https://cloud.githubusercontent.com/assets/172966/7087519/da3859d2-dfbe-11e4-867b-1932ee60457e.png)

[2015-04-10 12:39] nWidart commented on #87
Found the error. Was a pretty stupid one, I had a db call in a service provider.

Sorry for the trouble.

Thanks for that realpath tip, will try that too. :smile:

[2015-04-10 12:39] #87 closed

[2015-04-13 08:10] aimeos opened #88 "Artisan command test doesn't honor database settings"
I've created a test for the artisan commands of my Laravel package and provided database settings via the getEnvironmentSetUp() but they aren't used. Instead I'm getting:

SQLSTATE[28000] [1045] Access denied for user 'forge'@'localhost' (using password: NO)

Did I miss something? The test case code is:

[code]

[2015-04-13 08:52] crynobone commented on #88
Does your code actually configuration from `config/database.php` or from <https://github.com/aimeos/aimeos-laravel/blob/master/src/config/shop.php#L22-L33>?

[2015-04-13 09:05] aimeos commented on #88
You are right, it actually uses the "mysql" database settings. I've changed getEnvironmentSetUp() to
[code]
but it still yields the same error. Isn't it possible to use the config() function there?

[2015-04-13 09:09] crynobone commented on #88
You could do that, but you need to move `$this->mergeConfigFrom` from `register` to `boot`:

[code]

If you stick with the current structure, your code is still loading the default configuration because of this sequence:

[code]

https://github.com/orchestral/testbench/blob/master/src/Traits/ApplicationTrait.php#L176-L180

[2015-04-13 09:21] aimeos commented on #88
Cool, that worked! :-)
I have another problem with routing but I will create a new issue for that and you can close this one now. Thank you for your help!

[2015-04-13 09:21] crynobone commented on #88
No problem, feel free to post the issue/question when you're ready.

[2015-04-13 09:21] #88 closed

[2015-04-13 09:29] aimeos opened #89 "getRoutes() not found in Router mock object"
One of my tests fails with this message:
[code]
It worked when the package was part of an application but since using the testbench package it fails. What could be the cause for this?

The test code is available at https://github.com/aimeos/aimeos-laravel/blob/master/tests/Base/ViewTest.php#L15-L34

[2015-04-13 09:42] crynobone commented on #89
That would be hard to test:

1. You could convert this test to actually run a route using `$this->call()`, the API is the same with <http://laravel.com/docs/5.0/testing#calling-routes-from-tests>
2. You could actually reduce the dependency from `Route` facade and instead directly inject the resolving object as `View` constructor (with this, you can even skip using `Orchestra\Testbench\TestCase` an

[2015-04-13 10:15] aimeos commented on #89
I'm not sure if I understand the problem correctly. To me it seems like ```app('url')``` can't create an ```\Illuminate\Contracts\Routing\UrlGenerator``` object. The route facade is only used to satisfy the method calls in
* https://github.com/aimeos/aimeos-laravel/blob/master/src/Aimeos/Shop/Base/View.php#L35-L36
* https://github.com/aimeos/aimeos-laravel/blob/master/src/Aimeos/Shop/Base/View.php

[2015-04-13 10:32] crynobone commented on #89
When you use `Route::shouldReceive()`, it would first try to get the resolved instance of `app('router')` and replaced it with a mocked instance, now this would work fine but once `url` required `$router->getRoutes()` it can't find one on your mocked instance in `RoutingServiceProvider`.

Basically it never was easy to mock `router` or `request` instance, which is why there's a lots of helper to r

[2015-04-13 10:42] aimeos commented on #89
OK, got it. I've removed all ```Route::*``` calls in the test to get it working now.
Are these kind errors related to this problem:
[code]

[2015-04-13 11:39] crynobone commented on #89
As for above error it can be solved by removing `\` prefix as it not needed in this case:

[code]

However you would still have an issue with `"middleware" => "auth"` as this middleware only exist inside the application context. Testbench doesn't include this by default because we can't guarantee that this middleware would always exist (a user could delete it on purpose etc).

[2015-04-13 11:41] crynobone commented on #89
To solve auth middleware, you can always swap the basic `Orchestra\Testbench\Http\Kernel` with something that fits your need. https://github.com/orchestral/testbench#overriding-http-kernel

[2015-04-13 11:56] aimeos commented on #89
I've tried your suggestion and removed the first backslash from the values in ```uses``` but that made no difference. Anything else I could try?

[2015-04-13 11:57] crynobone commented on #89
[code]

[2015-04-13 11:58] crynobone commented on #89
This is the part where it tried to resolved "auth" middleware, but since it not available it tried to resolve "auth" from the IoC which would give `Illuminate\Auth\Guard`.

[2015-04-13 12:23] aimeos commented on #89
I've removed the "auth" middleware but still all calls to ```Aimeos\Shop\Controller\...Controller@...Action``` fail (not only the protected ones from the AccountController). The code in the GitHub repository is updated so you can see what I mean.

For the tests I've used Laravel 5.0.23 and Testbench 3.0.* but using dev-master doesn't make a difference.

[2015-04-13 12:29] crynobone commented on #89
[code]

What's inside Site/Default that require a PDO connection, it obvious that would failed if the package try to make a db connection when the test case doesn't do any db setup.

[2015-04-13 12:42] aimeos commented on #89
You are right, I forgot to adapt the ```getEnvironmentSetUp()``` methods in the the controller test classes and the error messages swallowed the real cause of the problem!

There's one more thing I'm struggling with: My package tries to extend from an ```app.blade.php``` template which is not available when using testbench. Can I provide one as fixture or how could I cope with that?

[2015-04-13 12:49] crynobone commented on #89
You could use `https://github.com/laravel/framework/blob/5.0/src/Illuminate/View/Factory.php#L712` e.g: `View::addLocation('tests/fixtures/views')` to include that location when View try to resolved.

Otherwise you could look into adding a complete base app skeleton fixture such as https://github.com/orchestral/testing (I use this to test Orchestra Platform application).

[2015-04-13 13:17] aimeos commented on #89
I got the test working now but only one by one:
phpunit --filter=testTermsAction -> OK
phpunit -> testTermsAction fails

The error is still the same:
[code]
Only the first controller/action test succeeds, all subsequent ones are failing. Have you seen this before or do I still make a mistake?

[2015-04-13 13:22] crynobone commented on #89
Don't use `require_once "routes.php";`, as the code intended, it would only load once.

[2015-04-13 13:35] aimeos commented on #89
You are great! :-)
Thank you very much

[2015-04-14 01:11] #89 closed

[2015-04-14 18:20] nWidart commented on #87
Crazy, this is happening again on a clean 'package'.
Nothing in service provider or anything in the way.

When I use `--realpath` with the `Database/Migrations` (not correct for real path) option, I get the error:

[code]
Which is normal.

Though when I provide a correct path, using `--path=Database/Migrations` or `--realpath`, I get

[code]
So it finds the migration, but somehow doesn't execute i

[2015-04-14 23:16] crynobone commented on #87
1. Don't mess around with `base.path`, as I said many times this could cause issues.
2. Use `--realpath` with `realpath()`.

[2015-04-14 23:20] crynobone commented on #87
[code]

[2015-04-15 07:30] nWidart commented on #87
Hello,

Oh man, thanks for noticing this path issue! Don't know how I didn't see this. :open_mouth:

Using `$app->setBasePath('/../..');` instead of `base.path`,still gives the same issue.

I've moved the tests up a folder to try.
Using `$app['path.base'] = __DIR__ . '/..';` + `$migrationsPath = 'Database/Migrations';` works.
It doesn't work though when using `$app->setBasePath('/..');`.
Not setti

[2015-04-19 19:07] aimeos opened #90 "Controller/action with and without leading backslash"
There's one problem I haven't figured out how to solve this with testbench: According to your last suggestion, I've removed the leading backslash in the "uses" values of the routes. Then, the tests work fine but the application using the package does not. Without the leading backslash, the controllers are not found:

```exception 'ReflectionException' with message 'Class App\Http\Controllers\Aimeo

[2015-04-19 23:16] crynobone commented on #90
https://github.com/orchestral/testbench/issues/89#issuecomment-92322741

I mention removing the `\` in the `routes.php`, For the caller you still need to use `\` or it would append to the default app namespace which give you `App\Http\Controllers\Aimeos\Shop\Controller\CatalogController`.

https://github.com/laravel/framework/blob/5.0/src/Illuminate/Routing/UrlGenerator.php#L547-L561

[2015-04-19 23:48] crynobone commented on #90
tl;dr

No `\` in `routes.php`, with `\` when you use `URL::action()`.

[2015-04-20 07:40] aimeos commented on #90
OK, but this was already the case until I've changed it back because the package URLs wasn't working any more. The tests worked but not the application:
- https://github.com/aimeos/aimeos-laravel/blob/67b9ade66a7c260cfc482b7ec0121a6e9449e951/src/routes.php
- https://github.com/aimeos/aimeos-laravel/blob/67b9ade66a7c260cfc482b7ec0121a6e9449e951/tests/Controller/CatalogControllerTest.php

The other

[2015-04-20 08:18] crynobone commented on #90
[code]

[code]

[code]

[2015-04-20 08:33] aimeos commented on #90
Yes, the tests work perfectly in this case but the application won't. If you try to set up an application and add the aimeos-laravel package (the steps are described in https://github.com/aimeos/aimeos-laravel/blob/master/README.md), you will get this error when you enter http://<your public root>/index.php/list in your browser:
[code]
In the **application** it only works **with leading backslashe

[2015-04-20 08:36] crynobone commented on #90
*That is a documentation/implementation bug, not related to Testbench at all.*

Do you know what happen when you include your package routes in `app/Http/routes.php`, you're prepending your package to the application namespace, which is by default `App\Http\Controllers`, no packages should do this, or if you wish you need to handle it on your own.

[2015-04-20 08:36] #90 closed

[2015-04-20 09:15] aimeos commented on #90
If this shouldn't be done, how can you overwrite routes otherwise and give them e.g. a prefix?

[2015-04-20 09:18] crynobone commented on #90
Learn the in and out of Laravel.

<https://github.com/laravel/laravel/blob/master/app/Providers/RouteServiceProvider.php#L38-L41> work around this code.

[2015-04-20 09:21] crynobone commented on #90
Or create a config file, were user can define a prefix. https://github.com/FrozenNode/Laravel-Administrator/blob/master/src/config/administrator.php#L10

[2015-04-20 11:06] aimeos commented on #90
I'm still learning but that kind of stuff is documented nowhere.
Your suggestion with the config file was great and I've changed the package to do it this way. Now everything seems to work fine. Thanks again!

[2015-06-07 14:32] kirkbushell opened #91 "Service provider not being loaded"
Hey there!

tbh I'm not sure this is an actual issue, but I'm having problems getting my service provider recognised. It appears to load other providers, but not mine (aka, register method never gets called).

This is how I've setup the test case class:

[code]

Then in the StylistServiceProvider:

[code]

I thought this might have something to do with the aggregate service provider, so I tried se

[2015-06-07 14:54] crynobone commented on #91
I don't see why a basic service provider using `Illuminate\Support\AggregateServiceProvider` would failed. It might be something else.

[code]

Try troubleshooting each of the register process, or do you have any error log that could be useful?

[2015-06-07 14:57] kirkbushell commented on #91
@crynobone it doesn't get that far - the service provider is never registered.

[2015-06-07 15:55] nWidart opened #92 "Tests failing after adding a custom validator"
Hello,

My tests are failing since I've added this:

[code]

I've added the following in `getPackageAliases`:

[code]

The `$translator` parameter isn't type hinted or something.

Am I missing something ?

Thanks!

Edit I've also added the following, still failing:

[code]

[2015-06-07 23:23] crynobone commented on #91
6df04e3 shows that a basic aggregate service is loaded with Testbench. So I would think this is something else.

[2015-06-07 23:25] crynobone commented on #92
I need more detail on this, post relevant errors, version used etc.

[2015-06-08 06:22] nWidart commented on #92
I'm sorry, I'm getting the following error:

[code]

I'm using laravel `5.0`, with testbench `3.0.7`.

[2015-06-08 06:24] crynobone commented on #92
[code]

I assume you trying to use translator from inside `register()` which is not adviced as "translator" might not yet be resolved.

[2015-06-08 06:27] nWidart commented on #92
Oh!
You're right. :smiley: I've put the method call into the boot method, and now all tests are back to green, thank you once again! :)

Funny the rule actually worked but not in tests.

Thanks again.

[2015-06-08 06:27] #92 closed

[2015-06-08 06:29] crynobone commented on #92
Yup, but imagine if the person installing your packages decide to put it at the top of the config (instead after `TranslationServiceProvider` and this would most likely failed).

[2015-06-08 06:30] nWidart commented on #92
Ah yes, I see. Thank you for the explanation!

[2015-06-08 15:35] kirkbushell commented on #91
Yeah it's not the aggregate service provider. Have you tried it with more than one service provider - as that appears to be the issue...

[2015-06-09 18:09] nWidart commented on #91
I get the following error when trying to run your tests:

![screen shot 2015-06-09 at 8 01 26 pm](https://cloud.githubusercontent.com/assets/882397/8065701/766335f4-0ee3-11e5-8ae9-d7066e637fe3.png)

Using Testbench 3.1, laravel 5.1

[2015-06-09 18:11] crynobone commented on #91
How is that related?

[2015-06-09 18:12] nWidart commented on #91
It's related because it's the same package.

Also, this might help ..

![screen shot 2015-06-09 at 8 11 37 pm](https://cloud.githubusercontent.com/assets/882397/8065746/d0ff88c8-0ee3-11e5-9bde-121676bce4ee.png)

[2015-06-09 18:15] crynobone commented on #91
`hasExceptionOnOutput()` is not related to the example code shown so far. Seriously I can't solve this issue unless there a clear picture what is wrong with it.

`Class stylist doesn't found` could be related to service provider not registered, if anything.

[2015-06-09 18:29] nWidart commented on #91
I'm now on the same branch of Kirk.. He has his Service provider loaded, and `Collective\Html\HtmlServiceProvider`. Though we still get

[code]
You can see this here: https://github.com/floatingpointsoftware/stylist/blob/feature/test-fixes/tests/TestCase.php

[2015-06-09 19:49] kirkbushell commented on #91
Just to let you know that I was able to get my tests to pass, but tbh I'm not sure how or why it was broken to begin with. It has something to do with service provider loading, but I don't think it's an issue unique to TestBench. As a result of that, I'll close this as I don't think it's an issue iwth the library.

Thanks for your time @crynobone and @nWidart :)

[2015-06-09 19:49] #91 closed

[2015-06-09 19:50] crynobone commented on #91
@kirkbushell check out the PR I submit to your repository.

[2015-06-10 13:27] aedart opened #93 "RuntimeException: No supported encrypter found. The cipher and / or key length are invalid."
Laravel's Encrypter class fails, because of too weak "random" string, in the app.php configuration (in fixtures), when the default AES-256-CBC cipher is being used.

In the current version, "SomeRandomString" is being used as the default APP_KEY value. This should be changed to something else...

Perhaps a key should / could be generated, before the application is created, if the default key is se

[2015-06-10 13:32] GrahamCampbell commented on #93
You need a 32 byte encryption key, and you're sorted.

[2015-06-10 13:33] #93 closed

[2015-06-10 13:35] crynobone commented on #93
See <https://github.com/orchestral/testbench#no-supported-encrypter-found-the-cipher-and--or-key-length-are-invalid>

Thank for the report.

[2015-06-24 14:48] nWidart commented on #79
I'm very sorry but, I'm still having issues with this. :disappointed:

When I set the base path with :

[code]
I get the following, while trying to dump `dd(base_path());` in my test:

[code]

When I change it to:

[code]

I get:

[code]

At least now the path is correct (`Modules/Workshop/Themes/`)...

I also have `$app['path.base'] = realpath(__DIR__ . '/../' . $this->path);` in the `getEnvironm

[2015-06-24 16:34] crynobone commented on #79
Mock the whole `fixture` folder to `Modules/Workshop/Themes` if you insist on doing this.

[2015-06-24 17:01] nWidart commented on #79
Hm well that's not really an option, since that'll be committed in source control.

[2015-06-24 17:06] crynobone commented on #79
There is NO OTHER OPTION, almost everything in Laravel code internally uses `$app['base.path']` to resolve the path, and once you change it, everything else need to follow that path.

[2015-06-25 06:30] nWidart commented on #79
Ok ... Even not in the fixtures folder of the Testbench package ? :confused:

[2015-06-25 06:32] crynobone commented on #79
If not modifying the base path, you be using the fixtures folder. That exactly why we add it there.

[2015-06-25 07:00] nWidart commented on #79
Oh ok, well I need to change it for one test, where the generated folder cannot be in the fixtures folder of Testbench, and I should set it back to its original state for the second test. If that works...

What is the original state of `$app['path.base']` ? As I needed to set that to:

[code]

[2015-06-25 07:03] crynobone commented on #79
This is not getting anywhere useful. If you really insist on doing this. Do whatever you need to do, hack it, add your own fixtures. Totally up to you.

[2015-06-25 07:04] nWidart commented on #79
Ok then ... thanks I guess.

Testing this isn't possible then in laravel 5, great. :(

[2015-06-25 07:19] crynobone commented on #79
Already suggested the possible option, you just choose not to follow it.

- Use the available fixtures folder. We provide it for that exact reason, and clean up once the test is executed.
- Create your own fixtures folder, a complete replicate of `fixture` folder in Testbench repository.

[2015-07-12 20:10] vluzrmos commented on #74
I'm having that issue too, I'm using ~3.1 dev.

[2015-07-12 20:12] vluzrmos commented on #74
it happens when I try to do:

[code]

[2015-07-12 20:26] vluzrmos commented on #74
Stack trace:

[code]

[2015-07-12 21:07] crynobone commented on #74
@vluzrmos

Don't just continue on a closed issue and assume you have the same problem as someone else especially when this has been closed for months.

Create a new issue with full error stack trace.

[2015-08-17 09:41] nWidart opened #97 "Laravel views not found"
Hello,

On an application I'm working on I have some events that send out emails in the handlers.
I've set the `mail.pretend` option to true in the `getEnvironmentSetUp` method, but laravel opens the view.

I'm getting the following error when it tries to open a view (in phpunit response):

[code]

Is there something I can do ?

Sorry if this is a silly question.

Thanks!

[2015-08-17 09:43] crynobone commented on #97
You need to add a new location for your views. <https://github.com/laravel/framework/blob/5.1/src/Illuminate/View/Factory.php#L685>

e.g:

[code]

[2015-08-17 09:48] nWidart commented on #97
Oh, of course!

Thanks a lot for the quick response! :smile:

[2015-08-17 09:48] #97 closed

[2015-08-17 09:50] JulienTant commented on #97
@crynobone : your reactivity is impressive. I'd like to thank your for what you bring to the community :) (not the best place, i know)

[2015-08-17 09:51] crynobone commented on #97
Thank @nWidart @JulienTant

/me on my working hours right now (6pm) with Slack notification :)

[2015-08-17 09:52] GrahamCampbell commented on #97
That config option is deprecated in 5.1 and was removed in 5.2.

[2015-08-17 09:52] GrahamCampbell commented on #97
Was replaced by the log mail driver introduced in 5.0.

[2015-08-17 09:55] nWidart commented on #97
Good to know, thanks @GrahamCampbell .

[2015-08-17 10:51] nWidart commented on #97
Too bad there isn't an option in Laravel to disable emails completely in testing environment, loading these views slows the tests considerably down.

[2015-08-17 11:27] GrahamCampbell commented on #97
There is a way. If you send emails by using event handlers, then you can run the tests with events disabled.

[2015-08-17 11:29] nWidart commented on #97
True, indeed I send emails via event handlers, but I also use event handlers for other stuff. For instance in this case I set a specific property on a model in the handler class, or just other logic not related to emails.

So disabling events is not really an option.

[2015-08-17 11:31] GrahamCampbell commented on #97
Maybe you need to just rebind the mailer object then?

[2015-08-17 11:48] nWidart commented on #97
Hm that's a good idea, thanks. :smile:

[2015-09-12 10:30] acoustep opened #98 "How to test artisan command questions?"
Hi,

I have a console command that requires the user to confirm overwriting files if they already exist:

[code]

I have a ```--force``` option which I can use for testing most cases, however, I would like to test that the confirm option is working as intended, too.

This is what I have so far

[code]

Currently the test hangs due to waiting for a response.

[2015-09-12 10:32] GrahamCampbell commented on #98
You're going to need to change the input object used internally.

[2015-09-12 10:37] crynobone commented on #98
Testbench doesn't provide any facilty to help you unit test commands, nor does Laravel.

I did try to come out with some wrapper but to be honest it a huge mess. Try  http://marekkalnik.tumblr.com/post/32601882836/symfony2-testing-interactive-console-command

[2015-09-12 10:56] acoustep commented on #98
Thank you for the fast responses!

I will see if I can mock the input object.

Closing for now.

[2015-09-12 10:56] #98 closed

[2015-09-12 11:01] GrahamCampbell commented on #98
Or, rather than mocking, just make your own class that implements the interface. That might be easier, and would run much faster than mocking using mockery for example.

[2015-09-12 11:27] acoustep commented on #98
Thanks, Graham.

My main concern for now is how to inject the class - I will have a play around and see what I can do.

[2015-10-16 23:36] tacone opened #99 "Lumen support"
Out of curiosity: does the testbench support Lumen? If not, is Lumen support planned?

[2015-10-16 23:49] crynobone commented on #99
For testing lumen packages? Yeah we could actually do that.

[2015-10-17 00:34] tacone commented on #99
Right now, I'm testing some packages in Travis CI with a script that downloads a whole Laravel of a given version. I am currently in the process to switch to orchestral/testbench because it seems to work much better.

Everything good and well, but since my last baby project is a API builder, I began to wonder if Lumen is supported or not. I have no immediate need, but I suggest you to take it into

[2015-10-17 00:37] crynobone commented on #99
We can do it, but bare in mind that we need to include different set of `TestCase` and possibly `ApplicationTrait` because Laravel and Lumen has different bootstrapping process.

[2015-10-17 00:45] tacone commented on #99
Ok. If I get to make to the end of this new package that I'm developing, I'll be very happy to test the Lumen support.

In the meantime, keep up the good work, I'll watch this bug. :smile:

[2015-10-18 15:00] crynobone commented on #99
An update on this, this is not possible at the moment, because just as soon as we include `"laravel/lumen-framework"`, PHP would throw duplicate class detected under `Illuminate\Foundation` which exist in both `"laravel/framework"` and `"laravel/lumen-framework"`. The alternative is to build a separate package for developing on lumen but that might not seem ideal.

[2015-10-18 19:05] tacone commented on #99
First off, thank you so much for investigating this issue. If you happen to be able to share the broken branch somewhere I would happily clone it for future reference.

[2015-10-19 10:23] crynobone commented on #99
Combining both framework will generate exception due to class name duplication.

[code]

[2015-10-19 10:23] #99 closed

[2015-10-20 15:10] tacone opened #100 "CrawlerTrait has been removed from Laravel dev-master"
It's probably too soon, to act, by the way I'm seeing this my tests:

[code]
CrawlerTrait has been removed from Laravel as the result of their ongoing refactoring.

(I'm testing with orchestra/dev-master vs laravel/dev-master)

[2015-10-20 15:13] crynobone commented on #100
Can you make a PR with the relevant changes?

[2015-10-20 15:18] tacone commented on #100
I guess it is too soon to fix.

This is the commit that broke everything.
https://github.com/laravel/framework/commit/ef0e179c60c286711f1f08a4637d7c04da404c8b

[2015-10-20 15:23] tacone commented on #100
The fix for their own tests:
https://github.com/laravel/framework/commit/6b461cafb5682627ca88041952b893f58cf5358f

[2015-10-20 17:06] #100 closed

[2015-10-20 18:30] tacone commented on #100
It's working now, thank you very much.

[2015-11-06 11:00] brazorf opened #101 "Running artisan commands within test case in Travis CI"
Hi there

I see my builds on travis keep failing because of `Base table or view not found` errors, while my local tests run fine. Here's my test config

[code]

Relevant portion of travis config
[code]

Travis log
[code]

Are you aware of any issues affecting this or i've got a bad configuration?

[2015-11-06 11:05] crynobone commented on #101
Using `DB::table('routes')->delete();` is odd.

why not do it on your tearDown, or even.

[code]

[2015-11-06 11:07] brazorf commented on #101
You're right, test might be improved, but that's not the point.
Migration is not ran at all since the routes table is not found

[2015-11-06 11:15] crynobone commented on #101
Isn't the migration suppose to create the routes table?

[2015-11-06 11:21] brazorf commented on #101
Yes it is supposed to create the routes table - and it is working properly on my dev environment.

On the other hand, during a Travis build, i get that `table not found` error which makes me think that migration is not being executed.

[2015-11-06 11:22] crynobone commented on #101
Do you have the packages somewhere in github/bitbucket so I can review it?

[2015-11-06 11:23] brazorf commented on #101
Yep, check this branch https://github.com/foothing/laravel-wrappr/tree/feature/travis
Thank you

[2015-11-06 11:53] crynobone commented on #101
foothing/laravel-wrappr#1 should fixed it.

[2015-11-06 12:40] brazorf commented on #101
Thanks for the prompt help mate, you make me aware of couple things that need some more work.

[2015-11-06 12:40] #101 closed

[2015-12-08 20:52] bretterer opened #102 "Writing a package and getting 'Session not set on request'"
My package uses views with forms in it.  I am using old() to get the old input if I send it back to the form.  When I do this and try to run my tests I am getting the message `Session not set on request`

I am using v3.1 with Laravel 5.1

I have tried the following.

[code]

No luck!

What do I need to do?

[2015-12-08 23:29] crynobone commented on #102
Can you provide an the failing code?

[2015-12-09 02:14] bretterer commented on #102
Like I said, it is using the method `old()` in the view

[code]

[2015-12-09 12:22] crynobone commented on #102
Have you tried applying `withSession()`, <https://github.com/laravel/framework/blob/5.1/src/Illuminate/Foundation/Testing/ApplicationTrait.php#L136>

[2015-12-09 15:32] bretterer commented on #102
That does not work.

Here is the test.

[code]

Here is the login page.
[code]

You can find the test case at https://github.com/stormpath/stormpath-laravel/blob/develop/tests/TestCase.php

My error is here
[code]

[2015-12-09 23:47] crynobone commented on #102
This is actually a problem with how Laravel create the request, I have submitted a bugfix for it and this should be resolved when they merged it in.

Thanks for the report.

[2015-12-10 15:04] crynobone commented on #102
On further investigation, Our HTTP Kernel doesn't run `StartSession` middleware by default.

You can solved this by adding.

[code]

[2015-12-10 15:06] bretterer commented on #102
That works... should I be able to run this in a setUp method so it adds for EVERY testcase by default?

[2015-12-10 15:08] bretterer commented on #102
That fixed my issue.... I would suggest to anyone else having this issue to use the folowing code in their baseTestCase class.

[code]

Thank you for the help @crynobone

[2015-12-10 15:10] crynobone commented on #102
You should be able to run this under `setUp` or `getEnvironmentSetUp`.

I'm considering to add a method to add global middleware (just as you add package provider) as adding the middleware to `Orchestra\Testbench\Http\Kernel` could cause potential BC at the moment.

[2015-12-10 15:15] #102 closed

[2015-12-10 15:17] crynobone commented on #102
Added to the README <https://github.com/orchestral/testbench#session-not-set-on-request>

Thanks for the report.

[2015-12-11 15:56] crynobone opened #104 "Add middleware group option and populate "web" group"

[2015-12-12 16:33] #104 closed

[2015-12-16 00:12] manuelcalerosolis commented on #102
I tried to start my test but errors persist .

TestCase.php

<?php

//class TestCase extends Illuminate\Foundation\Testing\TestCase
class TestCase extends Orchestra\Testbench\TestCase
{
/**
* The base URL to use while testing the application.
*
* @var string
*/
protected $baseUrl = 'http://laravel.dev';

/**
 * Creates the application.
 *
 * @return \Illuminate\Foundation\Application
 */
public fu

[2015-12-16 00:19] crynobone commented on #102
You're overriding `createApplication()`, packages development doesn't have access to `$app = require DIR.'/../bootstrap/app.php';` as how it available for application development.

[2015-12-16 01:50] crynobone commented on #102
And ...

[code]

Each of `visit()` call should be on it's own `test*` method, so the application can be reboot on each test.

[2015-12-16 08:21] manuelcalerosolis commented on #102
Thank you very much for answering.

About overwriting the method ' createApplication ()', I do not quite understand what it suggests to me , should I or should not overwrite ?. In fact if I do my 'test ' does not work.

Finally in my test I have left only the first visit () and does not work me.

$this->visit('/auth/register')
        ->type('Taylor Otwell', 'name')
        ->type('taylor@laravel.

[2015-12-16 08:23] crynobone commented on #102
Are you testing an application or a package? Testbench `TestCase` are design to bootstrap Laravel for packages, not application and we have our own `createApplication()` method to handle how the to boot Laravel, replacing it would just break many of the bootstrapping process that we have.

[2015-12-16 08:29] manuelcalerosolis commented on #102
I`m testing an application.

[2015-12-16 08:30] crynobone commented on #102
Then you don't need Testbench, Just use the built-in Testing feature which is shipped with Laravel. Testbench are also utilizing that and the only different is how we boot Laravel without the app skeleton.

[2015-12-16 08:36] manuelcalerosolis commented on #102
Sorry but I'm a bit of a novice in these matters of testing. Is not necessary to use the package for my test orchestral ?.

[2015-12-16 08:38] crynobone commented on #102
This package is only necessary for testing other "packages" for Laravel, when you're building an application using `laravel/laravel` all these testing features is available by default for you.

[2015-12-16 08:41] manuelcalerosolis commented on #102
Actually it would be just inherit again ' Illuminate \ Foundation \ Testing \ TestCase ' and even my problems with the use of 'old ()' persist, Any idea how to fix it ?

[2015-12-16 08:45] crynobone commented on #102
If you can reproduce the problem with a basic Laravel application then you could make a report to Laravel team, or you could try asking the Laravel forum.

[2015-12-17 07:36] crynobone opened #105 "Need to update the app skeleton for 5.2"

[2015-12-17 09:21] #105 closed

[2016-01-04 22:55] cviebrock opened #106 "How to test migrations for the package?"
I'm refactoring one of my packages for Laravel 5 -- https://github.com/cviebrock/eloquent-taggable/tree/laravel-5-refactor

One of things I have is an artisan command that creates a migration file.  Previously, I could just run the stub in my test's `setUp()` command:

[code]

This no longer works, and I get an error that the table that is supposed to be generated doesn't exist.

I tried another a

[2016-01-05 08:59] crynobone commented on #106
What would happen if you run `php artisan taggable:table` more than once. Does it only create the migration once or does create multiple migrations?

[2016-01-05 15:32] cviebrock commented on #106
Well, running `phpunit` more than once creates a new migration file in `/vendor/orchestra/testbench/fixture/database/migrations` each time, so it's more about the class names for each of those migrations being the same, rather than having multiple files.

[2016-01-05 22:21] crynobone commented on #106
That not something testbench could handle. Using a more conventional approach such as using the `vendor:publish` command could avoid this as it check for filename duplication.

[2016-01-15 23:42] #106 closed

[2016-01-22 02:37] rydurham opened #108 "ApplicationTestCase Typo"
There was a typo in my last pull request: ```src/ApplicitionTestCase.php```  instead of ```src/ApplicationTestCase.php```.

I can send a PR if you would like.   Sorry about that.

[2016-01-22 03:06] crynobone commented on #108
Sure, submit a PR and I'm merge it.

[2016-01-22 03:58] #108 closed

[2016-03-01 22:56] Jeroen-G opened #111 "mkdir(): No such file or directory"
creating a new directory is part of my package, so it also happens during tests.
I am using Laravel's Filesystem class for that. During the tests with Testbench, I get the error that Filesystem cannot create the directory because `mkdir(): No such file or directory` (which is true, it is the point of all this to make the directory exist :stuck_out_tongue_winking_eye: ).
I am guessing it has someth

[2016-03-01 23:06] crynobone commented on #111
Could you share some code related to the problem.

[2016-03-01 23:17] Jeroen-G commented on #111
In the test
[code]

Illuminate/Filesystem
[code]

[2016-03-01 23:57] crynobone commented on #111
That's because our dummy app doesn't have `tests` path by default. Any reason not to use `$recursive` as `true`, since it is possible someone installing your package deleted the `tests` folder.

[2016-03-02 14:29] josecelano opened #112 "Route [route.name.show] not defined"
I get that error trying to execute a test. Routes are being loading well in the application.

This is the test:

[code]

The problem occurs only when I use `route` funtion in views intead of `url`helpers:

This works:

`{{ url('admin/crowdfunding/projects', ['id' => $project->id]) }}`

This does not work:

`{{ route('admin.crowdfunding.projects.show', ['id' => $project->id]) }}`

When I use the se

[2016-03-02 15:40] Jeroen-G commented on #111
Well, I didn't know what is means or is for. I'll try it and see if it works.

[2016-03-03 00:18] crynobone commented on #112
Does this work with base Laravel app tests?

[2016-03-03 10:46] josecelano commented on #112
Hi @crynobone , yes, if I copy the same test to the Laravel app where the package is installed, it works.

[2016-03-03 10:47] crynobone commented on #112
Testbench only handle bootstrapping Laravel, everything else is handled by Laravel. Which version of Testbench are you using the test with?

[2016-03-03 11:05] josecelano commented on #112
I am using the latest one: v.3.2.2. And FYI this is how I define the route:

[code]

[2016-03-03 11:07] crynobone commented on #112
What the value of `env('ROUTES_PREFIX', '')` when you run the test?

[2016-03-03 11:10] josecelano commented on #112
It's an empty string.

[2016-03-03 14:33] josecelano commented on #112
I have the same problem in controllers.

I can not use this:

[code]
but this works:
[code]

It seems named routes are not working in general.

[2016-03-03 16:09] #112 closed

[2016-03-03 16:13] crynobone commented on #112
The issue was due to new fluent named route which was introduce recently. Fixed by adding `$app['router']->getRoutes()->refreshNameLookups();` during bootstrap.

[2016-03-03 16:59] josecelano commented on #112
Ok, thank you very much @crynobone . The problem can be fixed also changing the way I define the routes:

[code]

If fact, I have realixed a few minutes ago that when I run

[code]

The name is not shown  in the list.

[2016-03-04 09:42] josecelano opened #113 "file_put_contents(fixture/bootstrap/cache/services.php) Permission denied"
Hi, I am setting up a jenkins server and I want to run the tests and I got this error becuase some library folders have to be writable.

This is the complete error message:

[code]

I have fixed the problem executing a small script before running tests to change folder permissions. I have added other folders which also require writable permission in a Laravel application, I do not know if for this

[2016-03-04 09:44] #113 closed

[2016-03-04 10:35] crynobone commented on #113
You can submit a PR to the readme to include these info. Not really useful as an issue.

[2016-03-04 11:07] josecelano commented on #113
Yes, I was not really sure to post it here, but I thought maybe someone could have the same problem and try to find the solution in issues.

[2016-03-04 12:03] Jeroen-G commented on #111
It worked, the directory got created. Editing and saving files in it is a little tricky still, but I'll figure it out. Thanks!

[2016-03-04 12:03] #111 closed

[2016-04-19 23:02] linchpinstudios opened #114 "Testing Web Middleware Group"
I'm testing routes for a package and I get `ReflectionException: Class web does not exist` and I believe it's because our route file uses the `web` middleware group.

[2016-04-19 23:07] #114 closed

[2016-04-19 23:08] linchpinstudios commented on #114
I was using the wrong version of Testbench

[2016-04-21 10:30] r34ch opened #115 "Correct way to override config variables"
I am creating a laravel package. For testing purposes, the tests must run contained within the package without relying on anything from the framework which uses the package through composer.

Within `orchestra/testbench/fixture/config/auth.php` is a variable I need to change `['providers => [ 'users' => ['model' => Some\Different\Name\Space\UserModel::class]]]`

Perhaps I am going about what I am

[2016-04-21 12:04] crynobone commented on #115
See https://github.com/orchestral/testbench#overriding-setup-method `getEnvironmentSetUp()`.

[2016-04-22 03:05] #115 closed

[2016-04-26 01:11] a-komarev opened #116 "PHPUnit_Framework_ExpectationFailedException"
When I'm trying to make fail situation in test case I've got an error.

Example of fail case:

[code]

I've expected to see something like this:

[code]

But I'm getting this error:

[code]

**composer.json**

[code]

[2016-04-26 01:13] a-komarev commented on #116
I thought it could be related to #107

[2016-04-26 02:10] crynobone commented on #116
Nope, changes #107 would only affect you if you manually override the `resolveApplicationExceptionHandler()`. Would require more detail on this.

[2016-04-26 02:16] a-komarev commented on #116
@crynobone It's only hapenning in case of `seeJson` method usage.

[2016-04-26 02:21] crynobone commented on #116
`seeJson` is basically Laravel core code, our Testbench just handle bootstrapping Laravel and most likely this is not a bug with Testbench but a configuration issue.

[2016-04-26 02:40] a-komarev commented on #116
Hmmm... the only thing I found is a recent [thread in Laravel repo](https://github.com/laravel/laravel/pull/3725), but it isn't helping me :(

[2016-04-26 04:16] crynobone commented on #116
As a start, https://github.com/laravel/framework/blob/5.2/src/Illuminate/Foundation/Testing/Concerns/MakesHttpRequests.php#L114-L129 `post()` is not the same with https://github.com/laravel/framework/blob/5.2/src/Illuminate/Foundation/Testing/Concerns/MakesHttpRequests.php#L49-L75 `json()`.

[2016-04-26 13:06] a-komarev commented on #116
[code]

This will get the same result: Fatal error.

[2016-05-06 13:19] GrahamCampbell opened #117 "Upgrade to v3.2.4 broke everything"
See https://travis-ci.org/GrahamCampbell/Laravel-Core/jobs/128295138.

[2016-05-06 13:19] #117 closed

[2016-05-06 13:19] GrahamCampbell commented on #117
Oh, wait, ignore me. So sorry!

[2016-05-16 02:47] autn opened #118 "Can't change database config in Models"
Hi,

This is my package: `https://github.com/autn/laravel-schema`
I'll use `orchestral/testbench` to test my package. I need change database config, I do it by:
[code]
It changed in test files (get right databse config), but in my Models file: `https://github.com/autn/laravel-schema/blob/master/packages/Schema/src/Console/Commands/DumpSql.php`, the `Config::get('database.connections.')` return def

[2016-05-16 02:51] crynobone commented on #118
Need more detail

[2016-05-16 03:06] autn commented on #118
You can see this branch: `https://github.com/autn/laravel-schema/tree/refactor/Tests/refoctor-tests`

I changed config in TestCase: `https://github.com/autn/laravel-schema/blob/refactor/Tests/refoctor-tests/tests/TestCase.php`

I dump config (`dd(Config::get('database.connections')`) in test files: `https://github.com/autn/laravel-schema/blob/refactor/Tests/refoctor-tests/packages/Schema/tests/Sch

[2016-05-16 22:57] bpfruin opened #119 "ErrorException: file_put_contents(/meta/services.json): failed to open stream: No such file or directory"
I am a novice php dev and I get this error every time I try to run phpunit in my Laravel 4.2 project.  The error starts in:

vendor/orchestra/testbench/src/Testbench/TestCase.php in the setUp() function.  It propagates from there.  It looks like storage_path() is returning null and thus giving the manifest a bad path but I cannot figure out why this can be or how to fix it.  I've messed around wit

[2016-05-16 23:03] crynobone commented on #119
I'm sorry but Laravel 4.2 (which use Testbench 2.2) is no longer supported <http://timeline.orchestraplatform.com/>

[2016-05-16 23:03] #119 closed

[2016-05-16 23:54] crynobone commented on #118
Your testing setup is so mess up.

And https://travis-ci.org/autn/laravel-schema/builds/130481708 isn't even related to Testbench issue.

[2016-05-17 00:01] crynobone commented on #118
Marking this as invalid. If database connection can't be changed in artisan environment it would be impossible to run database migration or database seeding right now.

[2016-05-17 00:01] #118 closed

[2016-05-17 03:51] autn commented on #118
This is old test. I tried to test with Testbench in localhost, but I can't get expect config. I pushed this branch just to show file structures.

[2016-05-17 04:05] crynobone commented on #118
There nothing wrong with Testbench code. Unless you can create a simple code that I can duplicate regarding this issue I'm not going to do anything about this.

[2016-05-17 06:34] autn commented on #118
Ok, I'll add test code and will show to you.

[2016-07-20 04:10] devsalman opened #120 "v.3.2.5: Route not defined"
according to issue #112 this problem should've been fixed, but i still got an error in my test case. Here's my test script:

[code]

but, when i run PHPUnit, i still got this error:

[code]

I tried to change the `route` method into static path like `manages/ingredient/save` and i got `Symfony\Component\HttpKernel\Exception\NotFoundHttpException:`

This test case doesn't have problem with routing

[2016-07-20 04:15] crynobone commented on #120
Have you tried using the available `route()` method?

https://github.com/laravel/framework/blob/5.2/src/Illuminate/Foundation/Testing/Concerns/MakesHttpRequests.php#L574

And the following should be:

[code]

Lastly, shouldn't you attach the middleware before setting the session, should it be after running the middleware.

Anyhow it not a bug with Testbench (because routing is handle directly from

[2016-07-20 04:16] crynobone commented on #120
And to be clear, your problem isn't related to #112

[2016-07-20 04:30] devsalman commented on #120
Hi @crynobone, thanks for the response :smile:

I've tried the `route()` method but i still got the same error.

Hmmm.. is it because the issue #112 has `route()` problem in view? i though the problem is similar with me because the issue is in `route()`, but thanks for the correction.

[2016-07-20 04:40] crynobone commented on #120
https://github.com/orchestral/testbench/compare/v3.2.2...v3.2.5

We haven't change anything between v3.2.2 to v3.2.5 except updating `laravel/laravel` config and updating `TestCase` based on `Illuminate\Foundation\Testing\TestCase` changes (to support phpunit ~5.0) if not mistaken.

So if it was working then, it should be working now (as proven with our updated testcase).

[2016-07-20 04:43] crynobone commented on #120
Seem to be more of a configuration issue. There no reason to use `orchestra/testbench` when you're working on a laravel app since you have no problem booting laravel framework.

Testbench was design to allowed booting the framework within a Laravel packages so you can test the packages as if it was booted from a laravel application.

[2016-08-11 20:13] loren138 opened #121 "Migrate:rollback/DatabaseMigrations Trait"
I was wondering if their was a reason that rollback was left out of the database commands updated for use with the realpath attribute, and if you had considered implementing something like the DatabaseMigrations trait in Laravel for tests.  (The arguments would have to come from a test class property or getter function.)

I reimplemented the trait for my own use (using migrate:refresh) since migra

[2016-08-11 22:41] crynobone commented on #121
You send the PR, thank you.

[2016-08-12 02:56] aledmb commented on #93
I had this issue randomly, sometimes it worked, sometimes not.

Thanks to @GrahamCampbell for pointing me to the solution. ;)

https://github.com/laravel/framework/issues/13764#issuecomment-239349336

[2016-08-12 06:50] crynobone commented on #93
@aledmb I don't see how this is suitable for `orchestra/testbench`.

[2016-08-12 18:20] aledmb commented on #93
@crynobone yeah, sorry for crossing your path, I just wanted to point out how it helped me solve it on Laravel, so maybe that's gives a clue for anyone on this side. ;)

[2016-08-13 03:25] crynobone commented on #93
Testbench are used for purely for testing, therefore using `config:cache` would **JUST** cause more problem.

[2016-08-13 08:32] #120 closed

[2016-08-18 00:40] #121 closed

[2016-08-23 17:43] josecelano opened #125 "How to use a custom middleware?"
Hi. I am using a custom `RoleMiddleware` in order to check roles for some routes like this:

[code]

How can I add this middleware? I get an error in a test becuase it does not find that `RoleMiddleware ` class. Is there a way to add new middlewares without ovewriting your `Kernel` class?:

https://github.com/orchestral/testbench/blob/3.3/src/Http/Kernel.php

[2016-08-23 22:24] crynobone commented on #125
Should be similar to https://github.com/orchestral/testbench#session-not-set-on-request

[2016-08-23 22:59] #125 closed

[2016-08-24 10:36] dimsav opened #126 "The "path" option does not exist"
Hi @crynobone

I've installed orchestra/testbench 3.3.x-dev and it seems there are some issues with the migrations reset command.

I wanted to make a pull request but couldn't find the class `Orchestra\Database\Console\Migrations\ResetCommand` anywhere in this or the database github repository.

The bug is it calls

[code]

but `path` is not in the `getOptions()` array so we have a `Symfony\Compon

[2016-08-24 11:07] crynobone commented on #126
Pushed a fix to `orchestra/kernel` (which handle `orchestra/database` subsplit). It should be available soon.

Thank for the report.

[2016-08-24 16:04] arcanedev-maroc opened #127 "testbench v3.3 [Laravel 5.3]"
Hi @crynobone, thanks for this awesome package and i'm using it for all my laravel packages, it's a life saver 👍.

Is there any release date for the v3.3 ?

Best regards

[2016-08-24 17:12] crynobone commented on #127
I only need to create a changelog for both testbench and database component and it should be good to go.

[2016-08-24 17:20] arcanedev-maroc commented on #127
OK, let us know when you're done 👍

[2016-08-24 22:53] crynobone commented on #126
Should be fixed now. Reopen this if you still having issues.

[2016-08-24 22:53] #126 closed

[2016-08-24 22:55] crynobone commented on #127
Should be within the next 24 hours.

Right now you can test with Laravel 5.3 by updating the requirement to `"orchestra/testbench": "~3.3"`

[2016-08-25 04:23] #127 closed

[2016-08-25 07:20] dimsav commented on #126
Thanks!

[2016-08-25 14:32] arcanedev-maroc commented on #127
Thanks man, i've just tested it and it's worked like a charm.

[2016-10-08 17:32] brazorf opened #132 "ReflectionException: Class config does not exist"
I had a working set of passing unit tests, all of them extending PHPUnit base class.

Next, i need to test the database access so i am installing this package. I've added the following class:

[code]

After i'ìve added this to my phpunit suite, all other tests are broken and they are raising the following error:

[code]

The test in error is something like this:

[code]

And the Config facade is i

[2016-10-08 17:40] brazorf commented on #132
Ok i got that the Facade alias is missing, so i've added the following:

[code]

However, i still have a question: isn't this package supposed to bootstrap all of the Laravel stuff, like aliases? Did i forget to configure something, or the actual solution is adding the alias myself?

[2016-10-08 23:25] crynobone commented on #132
Can you make a PR to replicate the failing test, our current `tests` are already testing for facade alias.

[2016-10-09 00:52] brazorf commented on #132
Just get this https://github.com/foothing/laravel-simple-pageviews/releases/tag/0.3.0

Then comment out the `getPackageAliases` method, and the tests will fail.

[2016-10-09 05:01] crynobone commented on #132
Can you create a failing test case on **this** repository?

I don't have the time duplicating these issue.

[2016-10-09 05:01] #132 closed

[2016-10-09 11:24] crynobone commented on #132
Added the test 996bb94 and the testsuite is green https://travis-ci.org/orchestral/testbench/builds/166187459

Marking this is `wontfix` until a replicable tests is added to this repo.

[2016-11-02 13:03] dmitry-ivanov opened #133 "Custom fixture autoloading?"
Hi!

For my package tests I need "pre-install" fixture with route, db connect, migration, and a custom model. What is the best practice to achieve that?

I've created route, db connect, migration according to the docs. But what about custom model?
I've created `tests\fixture` folder (see pic).

It works fine, but I have to manually require model file.

Also, I've tried to copy full "fixture" folde

[2016-11-02 14:58] crynobone commented on #133
You need to include anything that need to be autoloaded under `autoload-dev` in your package `composer.json`.

This can't be handled by `orchestra/testbench`.

[2016-11-02 14:58] #133 closed

[2016-11-07 17:07] CyberiaResurrection opened #134 "Migrate:rollback in loadMigrationsFrom cannot find migrations table"
Shouldn't this be migrate:reset, as it looks like it's supposed to roll back all migrations, not just latest batch?

[2016-11-08 09:46] crynobone commented on #134
https://github.com/laravel/framework/blob/5.3/src/Illuminate/Foundation/Testing/DatabaseMigrations.php#L21

Upstream using `migrate:rollback`, so does we.

[2016-11-08 10:26] CyberiaResurrection commented on #134
Ok, fair enough. Thanks.

[2016-11-08 10:26] #134 closed

[2016-11-24 13:38] arcanedev-maroc opened #135 "[PHP 7.0] PHPUnit_Framework_Exception: Segmentation fault (core dumped) while calling `vendor:publish` command"
Hi @crynobone,

Thanks for this great package, it's a life savior.

I need your help for an issue that i've encountered on laravel packages that i've created.

In the local machine, i've solved the issue by making `processIsolation="true"` in the phpunit configuration file but it does not work on Travis CI.

References:
 * https://travis-ci.org/ARCANESOFT/Auth/jobs/178588567
 * https://travis-ci.o

[2016-11-24 14:00] crynobone commented on #135
Never has this problem before.

[2016-11-24 14:27] arcanedev-maroc commented on #135
I cleaned the published files after each test.

I think i've forgot the main cause: **Running the tests with code coverage**

There is no issue when running tests without code coverage on PHP 7.0

[2016-11-26 02:06] crynobone commented on #135
It would be very hard for me to debug, but I'll leave this issue open if someone else came across the same problem.

[2016-12-06 17:16] lukepolo opened #136 "Fatal error: Trait 'Illuminate\Foundation\Testing\Concerns\ImpersonatesUsers'"
`Fatal error: Trait 'Illuminate\Foundation\Testing\Concerns\ImpersonatesUsers' not found in /home/travis/build/lukepolo/laracart/vendor/orchestra/testbench/src/TestCase.php on line 28`

See builds :  https://travis-ci.org/lukepolo/laracart/jobs/181709682

[2016-12-06 17:19] lukepolo commented on #136
Guess its probably cause of this : https://github.com/laravel/framework/pull/16667/files

[2016-12-06 22:36] crynobone commented on #136
The PR was made for Laravel 5.4, it's not a stable release yet.

[2016-12-07 03:02] lukepolo commented on #136
Ok, well unless testbench is including master then im not sure why it would fail

[2016-12-07 04:19] crynobone commented on #136
well, the PR made for Laravel (which you had link above) was only merged 1 day ago. I will looks into it when I'm available to work on this. Otherwise feel free to make a PR to `master` branch.

[2016-12-07 07:05] crynobone commented on #136
Your project version constraint (with combination to `minimum-stability` as `dev`) allows to resolve to latest master.

![screen shot 2016-12-07 at 3 04 34 pm](https://cloud.githubusercontent.com/assets/172966/20958070/9157b588-bc8e-11e6-8e62-cf041c28689a.png)

[2016-12-07 11:15] lukepolo commented on #136
Crap

[2016-12-07 11:15] #136 closed

[2016-12-10 03:48] #135 closed

[2016-12-16 16:11] a-komarev opened #137 "Config loading after service provider registers"
Using orchestral/testbench v3.3.4

I found that `getEnvironmentSetUp()` is executed only after service providers will be loaded. Because of it I can't overwrite application configuration for test cases.

[code]

Here is service provider:

[code]

`$userModel` will be equal to `App\User` instead of `CustomUser`. Why does environment setup is doing only after service providers registration and not b

[2016-12-16 16:18] crynobone commented on #137
Because it was designed that way, to be executed between registering and booting service providers.

[2016-12-16 16:29] a-komarev commented on #137
And how we can change config values then?

[2016-12-16 16:38] crynobone commented on #137
[code]

or

[code]

[2016-12-16 16:38] #137 closed

[2016-12-16 17:39] a-komarev commented on #137
Thanks! Second example is exactly what I was looking for.

[2016-12-16 17:45] crynobone commented on #137
I personally would prefer first structure, directly accessing `config()` under register method is just feel bad (common approach is have it fetch under closure, when it's needed). But that just me.

[2016-12-16 19:19] a-komarev commented on #137
Yeah, I've used your first example at the end, but extended it a bit to support all laravel versions and package default one:

[code]

[2016-12-17 01:25] a-komarev opened #138 "Wont load deferred service provider in TravisCI"
I'm not sure it's current test bench problem. I've found an issue when tried to test my new package with deferred service provider. Locally PHPUnit passed all the tests, but TravisCI ignored my service provider.

I've placed some debug strings:
https://travis-ci.org/cybercog/laravel-ownership/jobs/184698136

After setting service provider's defer attribute to `false` Travis passed the tests too:

[2016-12-17 01:51] crynobone commented on #138
That is how deferred service provider suppose to work. Not a bug!

[2016-12-17 01:51] #138 closed

[2016-12-17 01:53] a-komarev commented on #138
But why locally it's working then?

[2016-12-17 01:55] crynobone commented on #138
Don't ask me how it works on your machine, test bench is programmed to mimic how Laravel load services, and this is how it should work

[2016-12-17 02:06] a-komarev commented on #138
Sorry for raising it again, but as I understand service provider will be loaded only it will be called\used somewhere. And it's defined in `getPackageProviders()` method, shouldn't it be loaded in this case?

I found `App::loadDeferredProviders();` method, but not sure it's a correct solution to place it in unit tests.

[2016-12-17 02:08] crynobone commented on #138
Please read the documentation <https://laravel.com/docs/5.3/providers#deferred-providers> and really look at the sample, especially how `register` depends on `provides` method.

[2016-12-17 02:10] a-komarev commented on #138
I'm so dumb. Thanks @crynobone!

[2016-12-20 03:08] crynobone opened #139 "Add support for Laravel Browser Testing Kit."
This should be an alternative to the new Laravel Framework Testing feature.

[2016-12-28 16:14] siempay commented on #93
Hi guys! I have the same problem and I figured it out with this `tail -f storage/logs/laravel.log` because the error comes randomly and especially on ajax requests, but how to solve this one time and for ever?

[2016-12-28 16:45] crynobone commented on #93
Locking this issue since questions isn't related to Testbench

[2016-12-30 01:52] crynobone commented on #139
Done https://github.com/orchestral/testbench-browser-kit

[2016-12-30 01:52] #139 closed

[2017-01-23 19:24] eduardokum opened #141 "Suppress warning"
Hello,

I'm creating tests but when I run phpunit I do not get the error but if I run in the browser it fails, when I run phpunit it simply ignores the error and poses as if the variable is blank

![1ce1d04e-e150-11e6-88f2-1e4d13ba63e5](https://cloud.githubusercontent.com/assets/2566340/22219079/86e95486-e190-11e6-80b6-634849327eae.png)

Does anyone know what I can do to get the same result from t

[2017-01-24 05:49] crynobone commented on #141
Testbench in these case should return equivalent `500` (assuming here) that correspond to the error message page.

If you need to fetch the raw exception, you need to throw the error from your custom exception handler instead of rendering it. <https://github.com/orchestral/testbench/blob/3.3/src/Exceptions/Handler.php#L66>

[2017-01-24 11:01] eduardokum commented on #141
This is the point, it does not return the error page.

Let's assume:

I render a view like this:

[code]

and I have a blade template like this:

[code]

In the browser I get the error.

In phpunit I get:
[code]

[2017-01-24 11:03] crynobone commented on #141
Can you send a PR of the failing test that showcase the example of such issue so it's easier for me to look at it.

[2017-01-24 11:31] crynobone commented on #141
Sorry don't have time to read through someone code, if you can PR a failing test on this project that would help me solve the problem much faster.

[2017-01-24 12:36] eduardokum commented on #141
Sorry my mistake.

I found the problem. It's php version

[code]

this code in php 5.6 show a fatal error, but in php7 dont.

Thanks for your help.

[2017-01-24 12:36] #141 closed

[2017-01-24 19:00] Gummibeer opened #142 "Laravel 5.4 Support"
Hey, when will `v3.4` be available with L5.4 Support?

[2017-01-24 20:05] GrahamCampbell commented on #142
It already is available?

[2017-01-24 20:05] GrahamCampbell commented on #142
Just set the correct min stability settings.

[2017-01-24 20:05] GrahamCampbell commented on #142
I already test all my laravel packages using it.

[2017-01-24 22:00] sebastiaanluca commented on #142
Getting a dependency conflict here when using with Laravel 5.4:

[code]

[code]

[2017-01-24 22:28] crynobone commented on #142
What's your orchestra/testbench constraint?

[2017-01-24 22:29] sebastiaanluca commented on #142
`"orchestra/testbench": "^3.3.4"`

[2017-01-24 22:35] crynobone commented on #142
That doesn't permit installation anything above 3.3, update the constraint to `~3.4` etc

[2017-01-24 22:35] #142 closed

[2017-01-24 22:38] sebastiaanluca commented on #142
I don't see a release tagged 3.4 yet though? Only a 3.4 branch (https://github.com/orchestral/testbench/releases).

[2017-01-25 11:31] arcanedev-maroc opened #143 "[Question] Testbench support for Laravel 5.4"
Hi @crynobone,

Any release date for the testbench's version 3.4 ?

Best regards

[2017-01-25 11:35] crynobone commented on #143
You should be able to use it right now. check previous closed issue.

[2017-01-25 11:35] GrahamCampbell commented on #142
Yeh, just because there's no tag, it doesn't mean you can't ask for that version.

[2017-01-25 12:03] arcanedev-maroc commented on #143
Duplicated: #142

[2017-01-25 12:03] #143 closed

[2017-01-25 12:37] arcanedev-maroc commented on #142
So, is not gonna be a `3.4` tag for this package ?

[2017-01-25 13:52] marktopper opened #144 "Method assertSee does not exists"
I can not use the `assertSee` method when using testbench?

It's in Laravel.
[code]

[2017-01-25 13:53] GrahamCampbell commented on #144
You'll need the new laravel package for this.

[2017-01-25 13:53] GrahamCampbell commented on #144
https://github.com/laravel/browser-kit-testing

[2017-01-25 13:53] marktopper commented on #144
Thanks

[2017-01-25 13:53] #144 closed

[2017-01-25 13:55] crynobone commented on #144
Check https://github.com/orchestral/testbench-browser-kit

[2017-01-25 13:59] crynobone commented on #142
there will be one, when the documentation and changeling is ready. In the meantime there no reason you can't test your packages against Laravel 5.4, in fact testbench can already be tested with Laravel 5.5 since day one.

[2017-01-25 14:11] arcanedev-maroc commented on #142
The `3.4` version is considered as an unstable version (dev version) and i don't want to mess the composer settings (only stable packages).

No problem, i'm gonna wait 😃

[2017-01-25 14:35] crynobone commented on #142
you should be using orchestra/testbench only for require+dev, so it's irrelevant with that your are saying.

[2017-01-25 16:35] rathesDot opened #145 "How to load migrations of dependecy?"
Hey,

I have a problem setting up my testing environment for my package. The situation is that my package depends on another of my packages, that ships with its own migrations. I'm really new into this testing stuff, so I hope someone you could help me.

As shown here: https://github.com/orchestral/testbench/blob/3.4/tests/DatabaseFixtureTest.php I did following:

[code]

This results in `ErrorExc

[2017-01-25 16:44] arcanedev-maroc commented on #142
Check this @crynobone and you're going to understand the situation: https://github.com/ARCANEDEV/LogViewer/blob/master/.travis.yml#L15-L23

[2017-01-25 22:54] crynobone commented on #142
It should have been under `require-dev`. PERIOD!

[2017-01-25 22:57] crynobone commented on #145
Don't see what's wrong with how you do this right now.

[2017-01-25 22:57] #145 closed

[2017-01-25 23:01] crynobone commented on #142
https://github.com/mpociot/reauthenticate/blob/master/composer.json#L19

https://github.com/mpociot/reauthenticate/blob/master/.travis.yml#L16-L43

Of course you can simplify this using `LARAVEL_VERSION` variable.

[2017-01-26 07:47] rathesDot commented on #145
So you say that there is nothing wrong with running the migrations with `$this->artisan('migrate', [])` instead of using `$this->loadMigrationsFrom()`

[2017-01-26 08:14] crynobone commented on #145
if the package is properly configured, then yes.

realpath migration was added since the early 5.0 releases because Laravel decided that package developer should publish all migration to `app/database/migrations` instead running it from the packages. This however has changed since 5.1 or 5.2.

[2017-01-26 08:36] rathesDot commented on #145
Thank you very much for your help!

[2017-01-26 22:03] garrensweet opened #146 "Planned release for 3.4"
Any plans to release this soon? I know of a few packages for Laravel 5.4 that are awaiting a stable 3.4 release before they'll support 5.4.

[2017-01-27 00:18] GrahamCampbell commented on #146
Duplicate issue. There's no requirement for there to be a tag on this repo for you to use it.

[2017-01-27 00:20] garrensweet commented on #146
@GrahamCampbell My apologies. I should've looked. Closing.

[2017-01-27 00:20] #146 closed

[2017-01-27 01:02] crynobone commented on #146
There will be a release tag soon, but I need to make sure everything is done properly:

- release note (especially regarding browserkit-testing)
- updating the documentation
- running the tests on other packages using testbench to make sure everything is fine.

But there shouldn't hold you from running and using testbench against Laravel 5.4.

[2017-01-27 04:40] crynobone commented on #146
v3.4.0 has been released.

Please review the changelog https://github.com/orchestral/testbench/releases/tag/v3.4.0 for further details.

[2017-01-27 04:41] crynobone commented on #143
v3.4.0 has been released.

Please review the changelog https://github.com/orchestral/testbench/releases/tag/v3.4.0 for further details.

[2017-01-27 04:41] crynobone commented on #142
v3.4.0 has been released.

Please review the changelog https://github.com/orchestral/testbench/releases/tag/v3.4.0 for further details.

[2017-01-27 08:55] aedart opened #147 "Version 3.4.0 has "dev" as minimum stability, cannot require package"
Hi there - would it be possible to release your `testbench`, `database` and other nested depedencies as "stable"?

At the moment, I am not able to require `testbench`, into a "stable" package, due to this issue.

[2017-01-27 09:22] crynobone commented on #147
Use minimum `"dev"` with prefer stable.

[2017-01-27 09:22] #147 closed

[2017-01-27 09:46] aedart commented on #147
Ty mate- that solved it :)

[2017-01-27 09:57] crynobone commented on #147
Personally, most packages should stick with "dev" as minimum stability and test `--prefer-lowest`, `--prefer-stable` on every supported Laravel najor release via Travis-CI

[2017-01-27 11:18] Gummibeer commented on #146
The `orchestra/database` is still in dev mode.

[2017-01-27 11:45] crynobone commented on #146
@Gummibeer read e80767d56bb34036d2520bd69d67fc09433e069c

`v3.4.1` coming right up.

[2017-01-27 14:54] aedart opened #149 "Class 'Orchestra\Database\ConsoleServiceProvider' not found, version 3.4.1"
You removed the "database" dependency (in version 3.4.1), yet the `vendor/orchestra/testbench/fixture/config/app.php` still requires it.

[2017-01-27 14:56] crynobone commented on #149
can you make a PR to remove that

[2017-01-27 14:56] aedart commented on #149
5 min...

[2017-01-27 14:59] crynobone commented on #149
never mind, done it on GitHub UI (via phone)

[2017-01-27 14:59] #149 closed

[2017-01-27 14:59] crynobone commented on #149
tag version in 2 min

[2017-01-27 15:00] aedart commented on #149
ah - ty... was tinkering around with "fetch upsteam" merges..

[2017-01-27 18:52] aimeos opened #150 "$this->action() call fails after upgrade to Laravel 5.4"
This fails after upgrading to Laravel 5.4 even with `orchestra/testbench-browser-kit` installed:
[code]
with
[code]
Do can we get around this while maintaining compatibility to Laravel 5.1/5.2/5.3?

[2017-01-27 19:55] GrahamCampbell commented on #150
You'll have to do more than just "installing the package".

[2017-01-27 20:11] aimeos commented on #150
Using `Orchestra\Testbench\BrowserKit\TestCase` instead of `Orchestra\Testbench\TestCase` is not compatible with 5.1 to 5.3

[2017-01-27 22:24] GrahamCampbell commented on #150
Yes, well. Looks like it's not easily possible to support both.

[2017-01-27 22:24] GrahamCampbell commented on #150
:/

[2017-01-28 03:20] crynobone commented on #150
Done.

https://packagist.org/packages/orchestra/testbench-browser-kit

[2017-01-28 03:20] #150 closed

[2017-01-30 10:14] nWidart opened #151 "Class not found PHPUnit\Framework\TestCase"
Hello,

I'm in the process of upgrading to laravel 5.4 on a package. However tests are crashing with the following error:

[code]

However when changing the following in `Orchestra\Testbench\TestCase`

[code]

To:

[code]

It works.
I'm using version 3.4.2 on testbench. I see in those release notes that this was fixed, which is weird.

Thanks

[2017-01-30 10:15] brayniverse commented on #151
What version of phpunit are you pulling in?

[2017-01-30 10:16] nWidart commented on #151
`4.8.34`.
Weird is that I see this change https://github.com/orchestral/testbench/commit/ba4b3eddfd26fc8721cf2614de70df8a9289c385 which I don't see locally.

[2017-01-30 10:17] crynobone commented on #151
It's part of `v3.4.2` changelog.

<https://github.com/orchestral/testbench/releases/tag/v3.4.2>

Testbench v3.4.0 above now requires PHPUnit 5.7 as suggested in our composer.json <https://github.com/orchestral/testbench/blob/3.4/composer.json#L38>

[2017-01-30 10:18] crynobone commented on #151
It not really on our full changelog because this was done in the core of Laravel, where there also bump up the minimum deps to `~5.7`.

[2017-01-30 10:18] #151 closed

[2017-01-30 10:20] nWidart commented on #151
I see. Thank you, updated phpunit to 5.7 did the trick.

Thanks for the very quick reply as always! 👍

[2017-02-01 11:03] MatasElectronics opened #152 "Possible bug in expectsJobs() method"
We've been using this package for a while now, and it's really great.
But there's one strange thing we just can't wrap our heads around.

When we can't to see if a Job was dispatched (or wasn't) we use the `$this->expectsJobs(Job::class);` method. But somehow, this method will only work if before that, we put something like `app('Illuminate\Contracts\Bus\Dispatcher');`

Is this a know bug or somet

[2017-02-01 11:05] crynobone commented on #152
We don't actually handle this code. Let me check Laravel code.

[2017-02-01 11:18] MatasElectronics commented on #152
Yes I know that method is not in your codebase :)

What Laravel does is create a mock of the job dispatcher and mock the 'dispatch' and 'dispatchNow' method. Next it will bind that mock to the interface, so that each call to `$this->dispatch()` or the `dispatch()` helper goes to the mock.

Problem almost looks like the mock is being bound to the interface, but somewhere between there and the actua

[2017-02-01 11:25] crynobone commented on #152
The only time we would flush the app binding is when executing `tearDown()`, right after running all after app destroy callback events. Again,will have to check Laravel code on this.

[2017-02-01 11:26] MatasElectronics commented on #152
Okay, will wait on that. Thanks!

[2017-02-01 13:16] crynobone commented on #152
Basically there might be a bug resolving around `Application::make()` and the way it handle `alias()` and `instance()`.

Original issue: https://github.com/orchestral/testbench/issues/152

Basically what happen is `Illuminate\Bus\BusServiceProvider` declares `Dispatcher`, `DispatcherContract`, `QueueingDispatcherContract`. and alias `DispatcherContract` to `Dispatcher`. See https://github.com/lara

[2017-02-01 14:40] crynobone commented on #152
@MatasElectronics can you test the issue against latest commit, or lock the version to `"orchestra/testbench": "~3.4.3"`

[2017-02-01 16:53] marktopper opened #153 "The "--realpath" option does not exist."
This happens when I try to load migrations like this:

[code]

# Debug
[code]

[2017-02-01 22:18] crynobone commented on #153
Read the latest readme.

[2017-02-01 22:18] #153 closed

[2017-02-02 06:51] MatasElectronics commented on #152
@crynobone Will do! Will report back when I'm done.

[2017-02-02 07:05] MatasElectronics commented on #152
That seems to have done it!
I must have had something to do with deferred service providers. Thanks for the in depth explanation.

[2017-02-02 10:10] crynobone commented on #152
Fix has been tagged.

[2017-02-02 10:10] #152 closed

[2017-02-02 14:55] MatasElectronics commented on #152
Thanks a lot!

[2017-02-04 15:38] crynobone commented on #116
Closing this since I can't replicate this problem by building tests to check on this scenario.

[2017-02-04 15:38] #116 closed

[2017-02-05 16:24] marktopper commented on #153
So now I have to load the migrations in the service provider?
But what if I need migrations that are only required by the tests?

Like the default service provider for `users` table?

[2017-02-05 22:43] crynobone commented on #153
Read the readme?

https://github.com/orchestral/testbench#using-migrations

[2017-02-06 22:31] a-komarev opened #155 "Orchestra database version not exists"
[code]

Latest version of test bench require `"orchestra/database": "~3.4.0"`, but latest release is 3.3.5!

[2017-02-06 22:53] crynobone commented on #155
Use minimum stability dev!!

[2017-02-07 00:15] a-komarev commented on #155
I've added orchestra database as dev:
[code]

And updated realpath usage:
[code]

Package was found, installed, but PHPUnit tests are broken:

Then I've tried to set `"minimum-stability": "dev"`. Composer fetched all packages from dev-master but there is the initial error too:

[2017-02-07 00:29] a-komarev commented on #155
This way I've sticked to stable versions, but still not working.
[code]

If add `"orchestra/database": "@dev",` to this config - everything works, but it will use Laravel 5.3.x & `orchestra/database v3.3.5`.

[2017-02-07 13:00] crynobone commented on #155
User should use `minimum-stability` as `dev` and test using `--prefer-stable`, `--prefer-lowest`, latest dev on travis. See https://github.com/orchestral/testbench/blob/3.4/.travis.yml as example

[2017-02-07 13:00] #155 closed

[2017-02-07 13:54] a-komarev commented on #155
@crynobone I'll look on it, but I can't fix my tests anyway, with `minimum-stability` as `dev` they aren't working too!

[2017-02-07 14:02] crynobone commented on #155
Sorry, I need to edit it because I don't want that to be the solution when someone read this thread/issue.

[2017-02-07 14:11] a-komarev commented on #155
@crynobone I've posted [new branch](https://github.com/cybercog/laravel-ownership/tree/feature/laravel-5.4-support) to my package to show you whats happening: https://travis-ci.org/cybercog/laravel-ownership/builds/199225333
It's failing with all changes I've tried above.

[2017-02-07 14:33] crynobone commented on #155
[code]

`"phpunit/phpunit": "^5.2"` this is useless since Laravel 5.4 requires `"~5.7"`

[2017-02-07 14:38] a-komarev commented on #155
This will produce the error:

Accordingly PHPUnit, it will use `5.7` anyway, because `^5.2` includes `5.7` too.

[2017-02-07 14:39] crynobone commented on #155
[code]

This is why I really disagree with just checking against `"latest stable"`, You are suggesting that this package works with Laravel `~5.2.0`, `~5.3.0` and `~5.4.0`. However you're only loading  `"orchestra/testbench": "~3.4.0"` which only test against "latest stable" of Laravel 5.4. Do your code really work with 5.2 and 5.3? Travis doesn't check this.

[2017-02-07 14:40] a-komarev commented on #155
Yes... travis isn't testing it, but I'm using this code in 5.2 and 5.3 projects.

[2017-02-07 14:41] crynobone commented on #155
Read https://github.com/orchestral/testbench#realpath-migration

The code is working, otherwise Testbench own test would have failed https://github.com/orchestral/testbench/blob/3.4/tests/DatabaseWithCustomMigrationFixtureTest.php#L29

[2017-02-07 14:42] a-komarev commented on #155
@crynobone I know about this changes, and that's why I've done this: https://github.com/cybercog/laravel-ownership/blob/feature/laravel-5.4-support/tests/TestCase.php#L72

[2017-02-07 14:45] crynobone commented on #155
READ THE README!

![screen shot 2017-02-07 at 10 44 33 pm](https://cloud.githubusercontent.com/assets/172966/22695807/04985de4-ed87-11e6-8229-3ae3173b97a8.png)

[2017-02-07 23:51] z1haze opened #156 "The "--realpath" option does not exist."
Hey, I have been using this package for a about 2 weeks or so now, and its really awesome. Today I have made from pretty massive changes in my project and went to run my tests again, and everything is failing miserable throwing this same error.

`Symfony\Component\Console\Exception\InvalidOptionException: The "--realpath" option does not exist.`

Can you possibly have an idea what could be causing

[2017-02-08 00:18] z1haze commented on #156
I think I see what has happened, I've updated and broke my code due to your update.. It says use loadMigrationsFrom() now, which I am actually using on my service provider, but I do not understand how to make that happen from the test case

[2017-02-08 00:53] z1haze commented on #156
i also tried pulling in orchestra/database and it still fails with same error

[2017-02-08 01:10] crynobone commented on #156
Read the readme! Look at the example tests in Testbench.

[2017-02-08 01:10] #156 closed

[2017-02-08 01:12] z1haze commented on #156
this is how you treat people who cant figure out your package? sweet

[2017-02-08 01:19] crynobone commented on #156
This is how I treat repeated question which you can find from closed issue, reading the readme.

First, you guys keep asking for stable Testbench to test on Laravel 5.4 when it can be done in months without a stable tag, then you guys argue about `orchestra/database` not being stable, so I made it optional and took the time to update README, CHANGELOG and what not.

https://github.com/orchestral/t

[2017-02-08 01:48] z1haze commented on #156
Yea, and if you read me what said, i didnt require the database package and it still said that the --realpath did not work.. but whatever man

[2017-02-08 01:50] z1haze commented on #156
But its fine, i did it the loadMigrationsFrom() way.. i just had to remove my if running in console check.

[2017-02-08 01:51] crynobone commented on #156
If you have read the readme before asking about this, you would see the following words.

![screen shot 2017-02-08 at 9 49 25 am](https://cloud.githubusercontent.com/assets/172966/22720118/f626bf1e-ede3-11e6-90d3-bf76d8dd3930.png)

[2017-02-08 01:56] z1haze commented on #156
i guess i dont know what that means. im still new to this stuff

[2017-02-13 23:53] xoco70 opened #160 "ReflectionException: Class App\Console\Kernel does not exist"
Hi,

I'm trying to use TestBench to develop my Laravel plugin with Functional tests.

here is my TestCase.php,  I changed
`use Illuminate\Foundation\Testing\TestCase as BaseTestCase;`

by

` use Orchestra\Testbench\TestCase as BaseTestCase;`

[code]
But I get

it comes with instruction :

 `parent::setUp();`

this happens because I have in my trait : CreatesApplication a reference to  Illuminate\C

[2017-02-14 00:03] crynobone commented on #160
[code]

This is booting Laravel Application, not Testbench fixture application.

There no guide in Testbench that ever uses `CreatesApplication` trait.

[2017-02-14 00:03] #160 closed

[2017-02-14 00:11] xoco70 commented on #160
ok, but how should I boot testBench fixture... my TestCase file follows the guide, but it is not loading -> now I get :

   ` Class 'App\Http\Controllers\Controller' not found ``

What am I missing???

[2017-02-14 00:13] crynobone commented on #160
@xoco70 you should never depends on `App\Http\Controllers\Controller`, what would happen if someone rename the default app namespace to `Acme` using `php artisan app:name Acme`?

[2017-02-14 05:23] xoco70 commented on #160
It would generate a conflict? It's my first plugin, and I followed this [tuto](http://laraveldaily.com/how-to-create-a-laravel-5-package-in-10-easy-steps/), using Controllers...

So, what should I use, any good tuto you can advise??? Or, How should I avoid  using controllers?

[2017-02-14 06:48] crynobone commented on #160
You could directly use `Illuminate\Routing\Controller`

[2017-02-14 16:19] xoco70 commented on #160
Tx! I think it will do the trick! Tx for your advices, and for your plugin!

[2017-02-14 16:45] xoco70 commented on #160
oooo, now I understand what you was saying. If I use any App\ reference, and programmer change App\ namespace, plugin will break!!!

Ok, so the solution if I need App\User, you should set it on config file, so it can be changed, am I right???

[2017-02-14 22:05] crynobone commented on #160
Yes.

[2017-02-14 22:54] xoco70 opened #161 "Error: Class 'App\User' not found"
I spent all day on that, can't make it work :(

[code]

At this point, I can see all my tables created in DB, but can't find  `App\User;`

The project depends on `App\User;` and in my case, class exists, so what's wrong???

I know depending on App\ is bad, but later, i will probably implement config like mentioned here : [https://github.com/orchestral/testbench/issues/137](https://github.com/orche

[2017-02-14 23:00] crynobone commented on #161
I would suggest using a stub model, refer to https://github.com/laravie/authen/tree/master/tests for such example.

If you just using a basic User model without any modification, you definitely can use `Illuminate\Foundation\Auth\User` as the base model.

[2017-02-14 23:00] #161 closed

[2017-02-14 23:04] xoco70 commented on #161
you rock! Tx!

[2017-02-14 23:56] xoco70 opened #162 "Is it posible to seed?"
I'm using :

´´´
        $this->artisan('migrate', [
            '--realpath' => realpath(__DIR__ . '/../database/migrations'),
        ]);
        $this->artisan('db:seed');

´´´

but db:seed doesn't take a realpath argument

So, I get :
`ReflectionException: Class DatabaseSeeder does not exist`

[2017-02-15 00:16] crynobone commented on #162
You should be able to do

[code]

But I never finds a good reason to have db seed for packages, because once you set a seed, there no way for you to add more seed data to it and have it seeded on anyone that already using your packages.  You existing users need to flush the table and reseed again, which isn't ideal.

[2017-02-15 00:16] #162 closed

[2017-02-15 01:00] xoco70 opened #163 "Error: Call to undefined method Xoco70\KendoTournaments\Tests\PreliminaryTreeTest::visit()"
Why would it gives me this error???? visit() is part of Laravel testing suite

Here is the problematic function:

[code]

It works well when I test it with my main app.

[2017-02-15 01:06] xoco70 commented on #162
Yes, I see your point... Maybe to seed reference tables if needed

[2017-02-15 01:54] crynobone commented on #163
BrowserKit testing is available on a separate project as mention in our FAQ.

https://github.com/orchestral/testbench#missing-browser-kit-support-after-testing-on-laravel-54

[2017-02-15 01:54] #163 closed

[2017-02-15 17:29] xoco70 opened #164 "$this->visit('/') gives me a 404"
Hi,

when I hit $this->visit('http://tournament-plugin.dev/') method in my test, phpunit send me a 404,

but the URL exists, when I copy it in browser.

I also have routes

[code]

So basically, $this->visit('http://tournament-plugin.dev/kendo-tournaments') should also work, and it gives me a 404...

Why is it happening???

[2017-02-16 01:50] crynobone commented on #164
https://github.com/orchestral/testbench-browser-kit/blob/3.4/src/TestCase.php#L54

[2017-02-16 16:56] xoco70 commented on #164
It's becoming weird.

When I change $baseUrl or I harcode it, I get a 404 ( But URL exists)

When I specially hit this url: `$this->visit('/kendo-tournaments');`

I get : `RuntimeException: The only supported ciphers are AES-128-CBC and AES-256-CBC with the correct key lengths.`
But I checked in config/app.php

`'cipher' => 'AES-256-CBC',`

Also, when running phpunit in my main app, $baseURL = "ht

[2017-02-16 22:40] crynobone commented on #164
https://github.com/orchestral/testbench#no-supported-encrypter-found-the-cipher-and--or-key-length-are-invalid

[2017-02-16 22:40] #164 closed

[2017-02-17 19:55] xoco70 opened #165 "config('kendo-tournaments.default_settings') gives me NULL"
Hi,

It's taking a little longer than I thought :(

when I try to get a value from a config file, with:

`config('kendo-tournaments.default_settings')`

it returns null.

Thing is when I open it in browser, I can reach this data.

this config file is located in: `/package/xoco70/kendo-tournament/config/kendo-tournaments.php`

Do you know why???

[2017-02-18 03:57] crynobone commented on #165
https://laravel.com/docs/5.4/packages#configuration

![screen shot 2017-02-18 at 11 57 07 am](https://cloud.githubusercontent.com/assets/172966/23090142/6a26f5a6-f5d1-11e6-866c-f77b3c7414e1.png)

[2017-02-18 03:57] #165 closed

[2017-02-18 16:12] sebastiaanluca commented on #151
Using 3.4.0 in combination with PHPUnit 5.7 or 6 seems to fail with the same class not found error. Noticed this when testing my package using TravisCI. I need to specifically install version 3.4.2, am I missing something here?

The only combination that works for Laravel 5.4 when testing the most minimal requirements:
[code]

[2017-02-19 00:59] crynobone commented on #151
3.4 only support PHPUnit 5.7, 3.5 will only support PHPUnit 6.0

[2017-02-19 15:18] xoco70 opened #166 "Class 'Form' not found"
Sorry to bother you again.

I get this error `Class 'Form' not found` because I use Form::open() in my views.

So, I tried to include it in TestCase.php

[code]

[2017-02-19 16:56] crynobone commented on #166
Don't expect me to solve all your problem. If the class is missing, there something wrong with that. This has nothing to do with Testbench

[2017-02-19 16:56] #166 closed

[2017-02-19 23:43] MarcinOrlowski opened #167 "Setting up translation path for Lang to get right strings"
Hi,

I am using your package to test my Laravel module and all works fine but Laravel's `Lang`. I suspect it's simply because it expects the files to reside in `storage/lang/<locale>/<file>` while in my current source tree it's just `lang/<locale>/<file>` and because of that I am getting either `null` (when I call `Lang::get()` from my unit test method) or the lang key (i.e. `namespace.unknown_err

[2017-02-20 01:56] a-komarev opened #168 "Prevent multiple migrate:rollback on beforeApplicationDestroyed"
If `loadMigrationsFrom` method will be called multiple times - test bench will crash on the rollback. Because it's registering this action twice. First rollback will be successful and the second one will crash an app.

[code]

Use case:

[code]

[2017-02-20 01:58] crynobone commented on #168
If you have a solution for this, feel free to submit a PR.

[2017-02-20 02:01] crynobone commented on #167
Pretty sure this is an implementation problem, Testbench doesn't mess around with Laravel internals, we just help to boot-up Laravel application for package development.

If you think this is an actual bug, submit a failing test on this repository so I can fix it.

[2017-02-20 03:59] a-komarev commented on #168
Tried to fix this but no luck still. Will try to find the way to solve this later this week because it's blocking the upgrade of some of my packages.

[2017-02-20 09:55] MarcinOrlowski commented on #167
Seems I just needed a sleep :) as I just figured what was the culprit. As usual it's pretty obvious once you find out, but when you are stuck then even obvious things come up harder so hopefully this comment would help others (or perhaps it'd be worth editing docs with such note).

The package I develop use `ServiceProvider` subclass and in my provider's `boot()` method I set up the runtime enviro

[2017-02-20 10:25] #167 closed

[2017-02-20 13:53] crynobone commented on #168
Could you do me a favour and try with the following changes:

[code]

[2017-02-20 14:50] a-komarev commented on #168
@crynobone It works! I haven't checked if database migrations are rolled back correctly between tests, but no errors with this fix.

[2017-02-20 14:52] a-komarev commented on #168
Should I make a PR for it or you will do it?

[2017-02-20 14:54] crynobone commented on #168
That's is good news, use that first on your projects and feel free to submit a PR once you're confident with the fix.

To confirm, the following tests in the same class shouldn't have any data (created from factory) from the previous tests.

[2017-02-20 14:56] a-komarev commented on #168
@crynobone Thanks for a such a quick resolution as always!

[2017-02-20 18:22] xoco70 commented on #166
Sorry, I have so much trouble to make it work that it is sometimes difficult to know which one is from the plugin, and which one is not! Tx for your help with the plugin!!!

[2017-02-21 11:34] crynobone commented on #166
Testbench loads Laravel, Testbench has no idea about any other 3rd party package that your package may need to require. So do you have `laravelcollective/html` in the `composer.json`, which is needed to pull in the package during testing?

https://github.com/xoco70/kendo-tournaments/blob/master/composer.json#L30-L44

[2017-02-24 00:26] crynobone commented on #168
Everything works great right? can you make the PR to branch `3.1` for this

[2017-02-24 01:30] a-komarev commented on #168
@crynobone Yes. It works well for my case. Why to 3.1? I thought it should be pointed to 3.4.

[2017-02-24 02:02] #168 closed

[2017-03-07 08:56] RikSomers opened #170 "Missing 'Bus' as class Alias"
Hi!

A couple of weeks ago, Laravel added the `Bus` facade for testing, and added it in the default [alias array]( https://github.com/laravel/laravel/blob/master/config/app.php#L200). The Bus facade is however not added in the aliases array in testbench.

This will result in an error when using `Bus::Fake()` in your tests.

- Rik

[2017-03-07 09:27] crynobone commented on #170
should be fixed in latest dev.

On 7 Mar 2017 4:56 p.m., "Rik Somers" <notifications@github.com> wrote:

[2017-03-07 10:03] RikSomers commented on #170
Thanks. Issue should be resolved then :)

[2017-03-07 10:03] #170 closed

[2017-03-24 01:26] xoco70 opened #171 "PHP Fatal error: Class 'PHPUnit_Framework_TestCase' not found in /vendor/orchestra/testbench-browser-kit/src/TestCase.php on line 25"
Hi,

After upgrading to PHPUnit 6, I got this error:

[code]

[2017-03-24 01:55] crynobone commented on #171
PHPUnit 6 convert `PHPUnit_Framework_TestCase` to `PHPUnit\Framework\TestCase`.

This isn't a bug with `orchestra/testbench`.

[2017-03-24 01:55] #171 closed

[2017-03-27 17:15] xoco70 commented on #171
I know this is not a bug, but testbench extends this file => `abstract class TestCase extends \PHPUnit_Framework_TestCase`, shouldn't you update the dependency so that it works with PHPUnit 6 and make a new version?

Right now, the plugin is not compatible with PHPUnit6, isn't it?

[2017-03-27 22:30] crynobone commented on #171
When Laravel 5.5 utilise PHPUnit 6, then we move to PHPUnit 6.

No we aren't, because Laravel 5.4 and below doesn't support PHPUnit 6.

https://github.com/laravel/framework/commit/f48aed22efed11810b390c7237172fa4d0be0b11

^ Without above changes, Testbench code wouldn't work with PHPUnit 6 no matter how much we want to use it.

[2017-04-05 12:20] actuallymab opened #172 "Database --realpath problem"
Hi,

When I try to load migrations with realpath option I just started to get `Symfony\Component\Console\Exception\LogicException: An option named "path" already exists.` exception. My package was passing whole tests before last update. So I think somewhere broken with realpath.

[2017-04-05 21:46] a-komarev commented on #172
Confirming. All tests was worked before package update.

[2017-04-05 21:57] a-komarev commented on #172
It seems not a Testbench problem. I've rolled back to 3.4.5 but issue still exists.

[2017-04-05 22:03] a-komarev commented on #172
It's an issue in `laravel/framework 5.4.17`.

[2017-04-15 00:57] crynobone commented on #172
Should be fixed now.

[2017-04-15 00:57] #172 closed

[2017-04-26 10:46] developerMerna opened #173 "tearDown ReflectionException: Class config does not exist"
this is my setup function for login user
  public function setUp(){
        parent::setUp();
        $this->user = factory(App\User::class)->create([
	            'email' => 'testuser@email.com',
	            'password' => bcrypt($this->password),
	            'type' => 'admin'
        		]);
    }
and this is
	public function tearDown(){
        parent::tearDown();
        $this->user->delete();

[2017-04-26 10:48] crynobone commented on #173
`parent::tearDown();` would flush Laravel `app` instance and any declared instance/service provider including `config`.

[2017-04-26 10:48] #173 closed

[2017-04-26 10:50] developerMerna commented on #173
@crynobone Thank you but  I am not understand your comment

[2017-04-26 10:52] GrahamCampbell commented on #173
Call parent after.

[2017-04-26 10:53] developerMerna commented on #173
in the end of setup function?

[2017-04-26 10:54] developerMerna commented on #173
@GrahamCampbell  i try put it after create user but sadlly its not work :)

[2017-04-26 11:10] crynobone commented on #173
[code]

[2017-04-26 11:12] crynobone commented on #173
Or

[code]

[2017-04-26 11:15] developerMerna commented on #173
and in test function how i can use the user ??
because it give me undefined user

[2017-04-26 11:19] crynobone commented on #173
I would prefer to keep this focus on bug reports, personally been using factories and it is fine with Testbench.

[2017-04-27 04:03] derrekbertrand opened #174 "HTTP request caching error?"
I don't know if this is an error with Orchestral Testbench, Laravel's tests, or my ineptitude.

In one of my projects, I kept getting old responses in certain instances. If, within a single test, you make a request to the same route multiple times, you end up with the same response, even though the data may have changed. HTTP status code, data, it is all carried over.

Doing this between tests, bu

[2017-04-27 04:06] crynobone commented on #174
Orchestra Testbench doesn't change anything about the original request. We just bootstrap Laravel outside of a standard Laravel skeleton application.

[2017-04-27 04:06] #174 closed

[2017-05-14 09:34] SerbanBlebea opened #175 "Please solve the readme file"
Very difficult to understand readme file.

What do you mean by:
"Warning: --realpath support has been deprecated in favour of ServiceProvider::loadMigrationsFrom()."

First you talk about using --realpath (witch doesn't work) and at the end you specify use ServiceProvider with a protected method. (witch doesn't work).

Should this be used in TestCase or somewhere else?

[2017-05-14 11:12] crynobone commented on #175
As a package developer (which most of Testbench user use this package for) should already gone through the official Laravel [Package Development Documentation](https://laravel.com/docs/5.4/packages), and come across these note:

![screen shot 2017-05-14 at 7 11 15 pm](https://cloud.githubusercontent.com/assets/172966/26033183/295236bc-38d9-11e7-9abd-86a101046589.png)

So if there anything more tha

[2017-05-14 11:12] #175 closed

[2017-05-31 00:03] scottlaurent opened #176 "Errors trying to use loadMigrationsFrom and custom migrations at the same time"
My app broke after trying to move to 3.4. -- I have zero clue how to load the laravel migrations my migrations at the same time.  The samples provided do not give a working example of this.

I am loading a users migration, and several other tables:

This doesn't work, even though I have the exact same user migration that laravel provides
[code]

So I add the loadLaravelMigration, and this doesn't

[2017-05-31 00:07] crynobone commented on #176
We already have actual test case testing this, so could you try to replicate the scenario via the available tests?

https://github.com/orchestral/testbench/blob/3.4/tests/Databases/MigrateWithRealpathTest.php#L29

[2017-05-31 00:09] crynobone commented on #176
Oh I see what you mean now, all migration class need to be uniques, you can have `CreateUsersTable` migration class in your custom migration path, since it would conflict with the default Laravel migrations class.

[2017-05-31 00:14] scottlaurent commented on #176
I think I narrowed down my issue.  Even if I removed my own user migration, it fixes the name issue, however a second loadMIgrations type of command (below) resets the db so that only the final one represents the migration (ie: the first one, users, is wiped out).

[code]

So I just fixed it eliminating the loadLaravelMigrations and putting my own user one back in.

[2017-05-31 00:15] crynobone commented on #176
`$this->loadMigrationsFrom(realpath(__DIR__.'/migrations'));` this would run on the default database connection while `$this->loadLaravelMigrations(['--database' => 'testbench']);` would be executed on `testbench` connection.

[2017-05-31 00:17] scottlaurent commented on #176
testbench is what we are using for the default
[code]

[2017-05-31 00:28] crynobone commented on #176
I can't replicate this issue https://travis-ci.org/orchestral/testbench/builds/237741392

[2017-05-31 00:30] scottlaurent commented on #176
so after tinkering around more:

This works
[code]

This does not
[code]

This does not
[code]

This issue is caused by the artisan null setting:
$this->app[ConsoleKernel::class]->setArtisan(null);

[2017-05-31 00:34] crynobone commented on #176
I don't see how this is an issue, you should be using the existing methods.

I'm closing this is I already made a test to show that loading Laravel migrations with custom migration works fine on Testbench, you can see the code <https://github.com/orchestral/testbench/blob/3.4/tests/Databases/MigrateWithRealpathAndLaravelTest.php>

If you still think there an issue, commit a Pull Request with new f

[2017-05-31 00:34] #176 closed

[2017-05-31 00:37] scottlaurent commented on #176
okay.  i can put one up later today and post a fix.

This is the issue: running these two commands back will not work because they include
$this->app[ConsoleKernel::class]->setArtisan(null); inside of both functions, thus rendering the previous broken.

$this->loadLaravelMigrations(['--database' => 'testbench']);
$this->loadMigrationsFrom(realpath(__DIR__.'/migrations'));

[2017-05-31 11:03] ingro opened #177 "Route model binding not working"
Hello and thanks for this great package!

However I have an issue: I'm testing a controller that is expected to work with laravel's [route model binding](https://laravel.com/docs/5.4/routing#route-model-binding).

So this is how the `setUp` method of my `TestCase` class appear:

[code]

But it's not working, in the `show` method of my Controller the first parameter is always a string and not a `Po

[2017-05-31 15:10] crynobone commented on #177
Have you added `bindings` route middleware to those routes?

[2017-05-31 15:19] ingro commented on #177
That indeed fixed my problem, I wasn't aware that a middleware was needed for bindings to work, thanks and sorry again for opening this.

[2017-05-31 15:19] #177 closed

[2017-06-06 15:35] fulopattila122 opened #179 "Setting Config Values Before `RegisterProviders`"
Hello,

I am creating test suites for packages that require access to specific config values as early as during the [registration of the provider](https://github.com/orchestral/testbench/blob/3.4/src/Traits/CreatesApplication.php#L100). In the real application this approach works since the config files are already parsed at that point.
As far as I understand, in testbench config values are intente

[2017-06-06 22:27] crynobone commented on #179
No, I would not.

While yes Configuration technically available before `RegisterProviders` bootstrap class, however configuration should only be accessed from within the binding callback, such as:

[code]

By doing this, it's allow Laravel to first go through every `register` method in the loaded Service Provider and allow one service provider to set a new configuration value if it needs it (one p

[2017-06-06 22:27] #179 closed

[2017-06-07 10:13] fulopattila122 commented on #179
Cool, extending `resolveApplicationConfiguration()` did do the trick. It was so obvious that I don't know how couldn't I figure it out myself.

Thanks!

[2017-06-21 17:33] raftalks opened #181 "Composer update issue with v3.6-dev"
[code]

I am working on a package for laravel 5.5.x-dev and I am trying to use the testbench package, however it seems there is a problem if I am running composer update. I have pasted the issue above.

What is the recommended way to install testbench if i need to use dev-master?

[2017-06-21 17:36] raftalks commented on #181
figured out that I should be using 3.5.x-dev and not 3.6.x-dev

[2017-06-21 17:36] #181 closed

[2017-07-22 17:31] luiz-brandao commented on #156
Hi @crynobone, first I would like to thank you for dedicating your time to this package. Second, I would like to give my two cents regarding this issue with realpath.

Sometimes when people keep asking the same question, over and over again, it means things might not be as clear as we think they are. I'm saying that because I'm another one to stumple upon this problem. Even after reading everythin

[2017-07-22 18:29] crynobone commented on #156
@luiz-brandao See my response on https://github.com/orchestral/testbench/issues/175#issuecomment-301305356

[2017-07-22 19:23] luiz-brandao commented on #156
@crynobone thanks

[2017-07-24 21:48] OliverZiegler opened #184 "Created classes not found"
Hi there,

I currently develop a package that writes some class files in a laravel application to speed up development.

When trying to test this, the class file will be written to `vendor/testbench-core/fixtures/app`.
So after generation I have a class `FooBar` in `vendor/testbench-core/fixtures/app/FooBar.php` with `namespace App`.

Checking if file was written works like this
[code]

I now want

[2017-07-24 22:48] crynobone commented on #184
there no autoloading for "App" namespace, you should actually check for file existing and check for it's content.

[2017-07-25 06:55] OliverZiegler commented on #184
I see... but checking content will not verify if methods can be called, are correct etc.
Is there any other approach to be able to test stuff like this?

As the class is generated out of mutliple stubs and with some name replacements it is necessary to test the logic and not only content.

[2017-07-25 11:18] crynobone commented on #184
https://github.com/orchestral/testbench#why-testbench-doesnt-include-any-of-the-app-classes

[2017-07-25 11:18] #184 closed

[2017-07-25 11:30] OliverZiegler commented on #184
As my package *generates* these classes an I just want to verify generating *valid* and *working* classes it's not like I rely on the app-classes.

But I just managed to get this working by require-dev the whole laravel/laravel package for my tests. As I also need to verify user model creation, and working guards and login, I think this is the only reliable way for this kind of integration tests.

[2017-08-01 11:42] kz opened #185 "Thoughts on Laravel 5.5 auto-discovery"
Just a quick question: I'm wondering whether Testbench will support Laravel 5.5's auto-discovery? https://medium.com/@taylorotwell/package-auto-discovery-in-laravel-5-5-ea9e3ab20518

I'm personally opposed to the idea of Testbench automatically adding service providers based on packages'  composer.json files; having greater control of what's loaded in the test cases is more important to me than co

[2017-08-01 11:51] crynobone commented on #185
No, it will not be added by default. However I might access PR to include `runTestWithAutoDiscovery()` etc for such purpose, if anyone interested to do it.

[2017-08-11 22:17] piccard21 opened #186 "Link not working in Documentation"
The link to [Testing with Database](https://github.com/orchestral/testbench/blob/3.5/tests/Databases) isn't working.

[2017-08-12 03:31] the94air commented on #186
:+1:

[2017-08-12 03:51] crynobone commented on #186
Fixed

[2017-08-12 03:51] #186 closed

[2017-08-16 20:10] DeivCodeCamp opened #187 "Tenant Migrations"
maybe i'm short in knowledge but i'm having problems with the migrations of the tables in the tenant databases.
my primary database is main and the tenant databases are names of companies, i get the value from a custom field in the table users (company).

I have the driver migrations in this path.
[code]
And i want to migrate with this sentence `php artisan tenanti:migrate user` but i get this err

[2017-08-17 00:58] crynobone commented on #187
Wrong repo.

[2017-08-17 00:58] #187 closed

[2017-08-17 04:01] Simplesmente opened #188 "Problem with method getConnection()"
Hi, I'm using this package for learn more about tests with laravel and I think that I followed the steps agree documentation, but when I run the test is generated the following error:
1) Tests\Models\CodeCategoryTest::teste_check_if_a_category_can_be_persisted
Error: Call to undefined method CreateCodeCategoriesTable::getConnection()

I have the following base class :

[code]
And I extends the cla

[2017-08-17 04:06] crynobone commented on #188
Does your `CreateCodeCategoriesTable` class extends `Illuminate\Database\Migrations\Migration`?

https://github.com/illuminate/database/blob/master/Migrations/Migration.php

[2017-08-17 04:07] crynobone commented on #188
We are already testing testbench code to run migration and there's no problem migrating schema.

https://github.com/orchestral/testbench-core/blob/3.5/tests/Databases/MigrateDatabaseTest.php

[2017-08-17 04:07] #188 closed

[2017-08-18 14:36] marktopper opened #189 "Testing package using Laravel Dusk?"
Is it possible to test a package using Laravel Dusk in any way using Testbench?

[2017-08-20 04:03] crynobone commented on #189
Not right now, I don't have the time to play around and cover it.

[2017-08-20 09:48] marktopper commented on #189
Okay, I will see if I can figure something out and let you know.

[2017-09-02 10:04] aimeos opened #191 "How to overwrite binding in register() of service provider"
There's a method in a class registered in the service provider we have to overwrite for the tests.

Class: https://github.com/aimeos/aimeos-laravel/blob/master/src/Aimeos/Shop/Base/View.php
Registered: https://github.com/aimeos/aimeos-laravel/blob/master/src/Aimeos/Shop/ShopServiceProvider.php#L103
Overwrite here: https://github.com/aimeos/aimeos-laravel/blob/master/tests/AimeosTestAbstract.php#L5

[2017-09-02 12:33] crynobone commented on #191
Shouldn't you use `$app->instance()` on this case?

[2017-09-02 13:02] aimeos commented on #191
We want to replace the existing instance (if already instantiated), not using the created instance

[2017-09-02 13:35] aimeos commented on #191
It doesn't work if the controllers are tested with
[code]
In this case, always the binding from the ServiceProvider of the package will be used.

[2017-09-05 11:51] t1k3hu opened #192 "Migration | Custom path/migration not working"
Tables does not exists after migration.
[code]

[2017-09-05 11:57] crynobone commented on #192
`--path` will always prefixed with `$app->basePath()`

https://github.com/laravel/framework/blob/v5.5.0/src/Illuminate/Database/Console/Migrations/BaseCommand.php#L19-L23

Read the Testbench documentation for migration, or review or tests.

[2017-09-05 11:57] #192 closed

[2017-09-05 13:41] crynobone commented on #191
If you feel there's a bug create a failing test case on this repository to demonstrate this issue, otherwise `$app->instance()` still is the right option for it.

[2017-09-05 13:41] #191 closed

[2017-09-14 17:37] yunism-my commented on #192
So what can we do when we're testing the package's implementation with additional database table?

For instance, I need to add a `users` table for the `User` model, which implement my package's trait...

[2017-09-16 03:15] olavoasantos commented on #156
Hey guys. Sorry to bring this up again.

I wanted to use certain migrations only for testing purposes and I stumbled upon this problem as well.

I tried to solve this by adding the following function (which I adapted from laravel's ServiceProvider) to the TestCase class:

[code]

Then on your TestCase setUp method you can call `loadMigrationsFrom` followed by the `artisan('migrate')` command. It w

[2017-09-18 18:50] joshbruce opened #193 "Model not associated with...anything ??"
This one is odd - may be more appropriate on Stack.

I will try to give what I think is pertinent, but I'm new to this package (thank you for making it; been very frustrating to test packages). Apologies for physical lenght, but I am erring on the side of too much information. :)

[code]

So far so good, I think.

[code]

What am I missing? Again, I'm new to this library and appreciate it a great

[2017-09-18 22:44] crynobone commented on #193
Too long for me to understand what's really wrong here.

I personally has no problem interacting with Model during testing. https://github.com/laravie/authen/blob/master/tests/AuthenticateTest.php

[2017-09-18 23:06] joshbruce commented on #193
@crynobone: Yeah, I used the AuthenticateTest as the basis for setting all this up. I'm sorry it's too long. The ultimately short version is:

Setup:

- works - `setUp()`: Designed based on instructions here.
- works - `getPackageProviders($app)`: Designed based on instructions here.
- works (I think) - getEnvironmentSetUp($app): The class name found from by the app config is correct.

Tests:

- w

[2017-09-19 04:27] crynobone commented on #193
Still have no idea **"what has failed?"**, might as well provides a full tests example on `orchestra/testbench-core` so I can fix it.

[2017-09-19 14:00] mkarnicki opened #194 "Can't configure custom storage"
First off, thank you for creating this package. I'm developing my very first, and this has been extremely helpful. Maybe I'm doing something wrong here :).

## What I'm doing
My package involves sending mail. In `getEnvironmentSetUp` I configure mail.driver to use `log`.
Occasionally I would like to see the output of the e-mail, so I comment out `Mail::fake()`.

## What should happen
Having config

[2017-09-20 03:32] joshbruce commented on #193
Interesting development.

Was actually working on stripping the package down to one test and the files needed to bootstrap.

As I was starting to build the failing demo I got access to the user class...so, I started discarding changes one file at a time and running the tests without the hack to cover the glitch...they continued to pass.

Eventually, I merged it all back together to have my package

[2017-09-20 03:32] #193 closed

[2017-09-20 04:07] crynobone commented on #194
[code]

AFAIK `Mail::fake()` is using the default `Logger`, so I don't know what `filesystems.disks.testing` is doing, that is not part of anything Laravel is doing so therefore it should be handle by the userland.

[2017-09-20 04:07] #194 closed

[2017-09-20 08:43] mkarnicki commented on #194
Hi @crynobone , thank you for your reply. Do note I mentioned

Hence, if you set the usual mail driver to `log`, sending the e-mail should just save it to the log file. And it does, just within orchestral/testbench directory, instead of my package's storage/log directory.

In the given example, 'testing' is just a disk. Instead, you could try something more default like this:

[code]

and the prob

[2017-09-20 08:53] crynobone commented on #194
No, as I explained above this is not something that Testbench mess around with. What we do is simply bootstrap Laravel application for package tests.

[2017-09-20 08:56] mkarnicki commented on #194
Okay, thanks man. I'll have a closer look at how `getEnvironmentSetUp` is used and see what's going on. Cheers.

[2017-09-27 13:18] nWidart opened #195 "Run without auto-discovery"
Hello,

I just stumbled upon an issue where laravel registers auto-discovered packages, before the environment was setup, causing errors.

In the `CreatesApplication` trait, `resolveApplicationBootstrappers` method:

[code]

I'm guessing this is because of auto-discovery. Is there a way to disable it?

Thanks!

[2017-09-27 13:35] crynobone commented on #195
Can you create a failing test case so I can focus on the fix?

[2017-09-27 13:44] nWidart commented on #195
Hm this would be tricky to test, as it depends on a couple of requirements:

- needs to have a package that is using auto-discover
- that package requires having configuration set

I have a failing suite [here](https://travis-ci.org/AsgardCms/Platform/jobs/280418357), which is failing because the config is set after autodiscovery.

[2017-09-27 14:08] crynobone commented on #195
Can you test on the latest build.

[2017-09-27 14:24] nWidart commented on #195
Thanks! how can I get this? By using the branch-alias on testbench core of `dev-master`?

[2017-10-02 09:47] smtlk opened #196 "Index already exists error"
`SQLSTATE[HY000]: General error: 1 index idx_country_operators already exists (SQL: create index "idx_country_operators" on "ipv6_locations" ("country_code", "operator_name"))`

I'm getting that error on my setup i don't really know why, my migration does set up the index in question but why is testbench trying to create it twice? I'm using an SQLite Memory connection and my TestCase class (which

[2017-10-02 09:52] crynobone commented on #196
Not a testbench bug.

[2017-10-02 09:52] #196 closed

[2017-10-02 10:11] smtlk commented on #196
Hi @crynobone then what is it related to? Can you give me any hint?

[2017-10-02 10:14] crynobone commented on #196
I have no idea how you structure your tests and I'm 100% sure it's not related to testbench since I am using testbench with an application with close to 100 migrations with multiple indexing without any issue.

[2017-10-02 11:59] smtlk commented on #196
@crynobone thanks, i managed to figure it out it was referencing the wrong DB, what i ended up doing was override the entire DB config in my base class

        $app['config']->set('database.default', 'testing');
        $app['config']->set('database.connections.testing', [
            'driver' => 'mysql',
            'host' => 'mysql',
            'port' => '3306',
            'database' => 'test

[2017-10-02 18:38] nWidart opened #197 "ExceptionHandler is not instantiable"
Hello,

I'm not sure this is because of the latest version, but on php 7.2, I'm getting the following error:

[code]

[full travis job](https://travis-ci.org/nWidart/laravel-modules/jobs/282374954)

I've found a usage in the `CreatesApplication` trait but not sure why it's not binding on php 7.2 only.

[2017-10-02 18:39] nWidart commented on #195
I just tested this and works. Thanks! 👍

[2017-10-02 18:39] #195 closed

[2017-10-02 21:49] mdrost opened #198 "What are main differences compared to Laravel TestCase?"
What are main differences compared to `Illuminate\Foundation\Testing\TestCase`? Imho README should clarify why should I use this package and not Laravel version.

[2017-10-02 23:11] #198 closed

[2017-10-02 23:12] crynobone commented on #197
The tests are failing during generating HTML coverage, not the test itself. It could be something related to the way PHPUnit generate the files.

I have no idea how this can be fixed by Testbench.

[2017-10-03 07:44] nWidart commented on #197
Oh ok, I see. This is something on laravel's side then maybe?

[2017-10-03 07:52] crynobone commented on #197
Can't be certain, but I do know the way PHPUnit lookup coverage is not based on how Laravel would load those files, which for example Laravel 5.1 added the following https://github.com/laravel/laravel/blob/5.1/phpunit.xml#L20 because it could cause problem when the file is referring to undefined variable etc when not loaded properly.

[2017-10-05 12:48] nWidart commented on #197
Strangely it does it even for packages without running the coverage like: https://travis-ci.org/AsgardCms/Notification/jobs/283674581

Which simply runs `- vendor/bin/phpunit`

[2017-10-05 13:02] crynobone commented on #197
https://github.com/AsgardCms/Notification/blob/master/phpunit.xml.dist#L37

It define here and the **test log clearly state the error started while generating code coverage.**

[2017-10-05 13:02] #197 closed

[2017-10-05 13:03] nWidart commented on #197
Hm ok. I thought that wasn't run without specifying it in the command.

Though this doesn't fix the issue does it?

The binding shouldn't be an error when generating code coverage.

[2017-10-05 13:06] crynobone commented on #197
This is seriously outside the scope/control of Testbench.

[2017-10-05 13:08] nWidart commented on #197
Hm ok.

Though from what I can see, it's this package that binds the interface with its implementation, here: https://github.com/orchestral/testbench-core/blob/c1ccd1bde213ebf739bfbcbc0e743f1d1f306aa8/src/Traits/CreatesApplication.php#L293

Which clearly isn't working.

[2017-10-05 13:17] crynobone commented on #197
The test is passing! which show when loaded properly based on Laravel app loading sequence it is working fine.

What's not passing is HTML code coverage which is not in my or this package control.

[2017-10-12 20:24] aphofstede opened #199 "vendor/orchestra/testbench-core/tests/ in autoload"
Seems like `vendor/orchestra/testbench/composer.json` points to the wrong place for `\Orchestra\Testbench\Tests\Stubs\ServiceProvider` to be included in the `getPackageProviders()` override [as per the docs](https://github.com/orchestral/testbench-core/tree/3.5/tests/Databases).
I had to add the following to my package's `composer.json`:
[code]

<img width="338" alt="screen shot 2017-10-12 at 22 2

[2017-10-12 20:32] aphofstede commented on #199
Composer doesn't seem to support git submodules.. Am I missing something?

[2017-10-12 23:03] crynobone commented on #199
You shouldn't care about autoload-dev when you pull this to your project.

[2017-10-12 23:03] #199 closed

[2017-10-13 01:44] #185 closed

[2017-10-16 19:39] jpcaparas opened #200 "Dealing with chunked tests?"
Hi there,

First of all, thanks for the package. [I'm using it for tests](https://github.com/jpcaparas/xerovel/blob/master/tests/Feature/ServiceProviderTest.php) on [this wrapper](https://github.com/jpcaparas/xerovel) I put around the Xero API client.

I was wondering if there is a pattern I need to be aware of when chunking PHPUnit tests that do modifications to the file system.

Is there a way t

[2017-10-17 00:52] crynobone commented on #200
What's we offer is basically to make it easier to run packages tests as if it was on a basic Laravel installation.

[2017-10-17 00:52] #200 closed

[2017-10-20 19:46] Keoghan commented on #189
@crynobone I started to have a play with this and put something together which works (i.e. the test works for me - I have not tested on travis etc, but placed in your std files for travis etc).

I'm happy to share/move the repo to you if think this is an appropriate direction.

The main issue I had was in creating a local server for the package, where it doesn't really exist as a full Laravel app

[2017-10-21 02:14] crynobone commented on #189
That looks awesome.

I personally have no problem either having it under `Orchestra` namespace or yours. If it is going to be moved to orchestra we need to make sure that it would have constant version upgrade per Laravel releases.

[2017-10-21 07:29] Keoghan commented on #189
Cool, I’ll keep tidying it up a bit and once it’s in the right spot, we can decide where it should live :)

[2017-10-21 07:38] crynobone commented on #189
Added you as admin to https://github.com/orchestral/testbench-dusk

If you want to use Orchestra feel free to do so, but need your help on managing further improvements for it.

[2017-10-21 08:06] Keoghan commented on #189
Thanks, totally understand on support in the future.

[2017-10-23 19:31] Keoghan commented on #189
Hi @crynobone, just a little update. I've now got tests passing for Laravel 5.4 (and Dusk 1.x) in a 3.4.x branch and Laravel 5.5 (with Dusk 2.x) in master/3.5.x working on Travis. I've also simplified how it works quite a bit, and I think we're almost at a transfer point.

[2017-10-24 16:07] Keoghan commented on #189
@crynobone I've just pushed the repo contents over to https://github.com/orchestral/testbench-dusk. The readme needs a couple of tweaks, and it'd be good if you can advise how you'd like to adjust the licence etc. Happy to chat via slack, email or other if that better suits you.

I've not tagged a release yet, need to get Travis up, and then link through to Packagist :)

[2017-10-27 15:58] fulopattila122 commented on #195
Does this mean that in a testing environment no package auto discovery happens? So that if I want to rely on packages I need to register them along with their aliases as with 5.4?

[2017-10-27 16:09] nWidart commented on #195
I think you can use the `getPackageProviders` method to register them.

[2017-10-30 11:32] crynobone commented on #195
Yes, imagine if the user of your package decide to disable auto discovery but load your package manually. They might not know that you have a hidden dependency to another package.

[2017-10-30 11:34] fulopattila122 commented on #195
Not a problem, I just wanted to know if it is the intended way.

[2017-10-31 07:56] crynobone commented on #189
Everything is setup, feel free to tag stable `v3.4.0` and `v3.5.0` whenever you're ready.

[2017-10-31 07:56] #189 closed

[2017-10-31 09:19] marktopper commented on #189
Really appreciated 👍

[2017-11-04 10:47] fico7489 opened #201 "composer.json"
You should put "phpunit/phpunit": "~4.8|~5.0" from "require-dev" to "require" for 3.2.*

[2017-11-05 05:23] crynobone commented on #201
What's the reason for this?

[2017-11-05 06:16] #201 closed

[2017-11-05 09:15] fico7489 commented on #201
Because you need phpunit/phpunit for development of this package but also when you using this package as libraray, master have "phpunit/phpunit" in require.
With current composer.json you can include "orchestral/testbench" and have phpunit 6.0 installed in your project and running unit tests will producing errors event composer update passes well.

[2017-11-05 09:55] crynobone commented on #201
* `3.2` is no longer an active development since Laravel `5.2` isn't, PHPUnit 6.0 only come out recently.
* We did move `require-dev` to `require` for `v3.5.0` since this is potentially a breaking change and not in any of the earlier releases.
* It's already on the suggested section (https://github.com/orchestral/testbench/blob/3.2/composer.json#L37).

[2017-11-06 05:00] marcelopm opened #202 "Ramdom issue with bootstrap/cache/services.php"
I'm getting random false failures when using:

- docker
- https://github.com/brianium/paratest or
- https://github.com/liuggio/fastest

[code]

The issue is that, for some unclear reason, $manifest might not be an array, so it fails to merge:

https://github.com/laravel/framework/blob/bd352a0d2ca93775fce8ef02365b03fc4fb8cbb0/src/Illuminate/Foundation/ProviderRepository.php#L94

[code]
Var values d

[2017-11-06 07:30] crynobone commented on #202
Both https://github.com/brianium/paratest and https://github.com/liuggio/fastest doesn't load `orchestra/testbench` as dev dependencies.

Furthermore we don't do any modification to `Illuminate\Foundation\ProviderRepository`.

[2017-11-06 07:30] #202 closed

[2017-11-08 14:28] fico7489 opened #203 "ServiceProvider documentation"
Can you put ServiceProvider example ?

[2017-11-08 14:34] #203 closed

[2017-11-08 16:19] Modelizer opened #204 "Not able to find ApplicationTrait"
[Laravel Selenium Package](https://github.com/Modelizer/Laravel-Selenium) is dependent on this package. And when travis try to run it on PHP7 it says `Orchestra\Testbench\Traits\ApplicationTrait` not found. To know more you can checkout [travis build](https://travis-ci.org/Modelizer/Laravel-Selenium/jobs/277781803).

Is there any alternative if AplicationTrait is been removed or what change do we

[2017-11-08 22:55] crynobone commented on #204
`Orchestra\Testbench\Traits\ApplicationTrait` has been deprecated in `3.4` and removed in `3.5`.

Use `Orchestra\Testbench\Traits\CreatesApplication`

[2017-11-08 22:57] #204 closed

[2017-11-18 12:45] matthewbdaly opened #205 "Route facade not found when Xdebug is enabled"
Hi, I'm struggling with an issue with [a package I'm working on](https://github.com/matthewbdaly/laravel-error-snapshot) that uses Testbench for the testsuite and I could use some insight into what might be going on.

I've [explained the issue in detail on Stack Overflow](https://stackoverflow.com/questions/47357273/error-class-route-not-found-in-routes-php-when-testing-standalone-laravel-pac), bu

[2017-11-18 13:07] crynobone commented on #205
This is an issue with Code Coverage, you should exclude `routes.php` from being whitelisted for code coverage.

[2017-11-18 13:07] #205 closed

[2017-11-18 13:12] matthewbdaly commented on #205
Yep, that fixed the issue. Thanks very much!

[2017-11-30 11:16] saqueib opened #206 "RefreshDatabase is running my package migration before laravel CreateUsersTable migration"
I am very new to package development, I have setup the testbench and I can run the migration using `RefreshDatabase` trait on my tests. But the problem arises when I need to add a column is_active on users table, I created migration in my package migrations folder, and it's giving me `no such table users` It seems my packages migration is running before the laravel migration.

Here is my **TestCas

[2017-12-01 14:36] saqueib commented on #206
one more issue: not able test Mail

**MailTest**
[code]

This gives `The expected [MyPackage\Mail\ConfirmationEmail] mailable was not sent.`, but if I comment out the `Mail::fake()` It sends email I can see in my inbox.

[2017-12-02 08:11] crynobone commented on #206
Don't lump everything under one issue.

[2017-12-02 08:40] saqueib commented on #206
ok, I deleted my second issue, now if you can help me @crynobone that would be great

[2017-12-02 08:43] saqueib opened #207 "Unable to test Mail using Mail::fake() and Mail::assertSent"
Unable to test Mail using Mail::fake(), here is my test

**MailTest**
[code]

This gives `The expected [MyPackage\Mail\ConfirmationEmail] mailable was not sent.`, but if I comment out the `Mail::fake()` It sends email I can see in my inbox.

Please help

[2017-12-02 10:15] crynobone commented on #206
AFAIK, `RefreshDatabase` is mainly useful when you have an prepared database setup for your Continuous Integration, since it would just set every changes under database transaction and rollback during tear down.

If you have a prepared database setup, there shouldn't be a reason to still run `loadLaravelMigrations()` since the table should be ready.

[2017-12-02 10:15] #206 closed

[2017-12-05 01:47] saqueib commented on #207
It turns out if we send Mail using `sync` driver it will work, but if you use queue which I have used here you should be asserting it with 'Mail::assertQueued(ConfirmationEmail::class)'

[2017-12-05 01:47] #207 closed

[2018-01-04 12:14] yoeunes opened #208 "Orchestra Testbench current route always return null"
I'm working on a Laravel package it is working when I use it in my Laravel project, but when I want to test it with Orchestra Testbench I always get current route null inside middlware.

Test directory on Github: https://github.com/yoeunes/larafast/tree/master/tests

**Base TestCase:**

[code]

**WebControllerTest:**

[code]

**BlacklistRoutes Middleware:**

[code]

[2018-01-05 02:29] crynobone commented on #208
AFAIK global middleware is resolved before route is resolved. Added a test to demonstrate that this is possible with router middleware in the latest commit.

Marking this as not a testbench bug.

[2018-01-05 02:29] #208 closed

[2018-01-10 02:49] mikebronner commented on #192
This should probably be documented. Thanks for sharing @yunism-my

[2018-01-10 02:50] crynobone commented on #192
@mikebronner feel free to make a PR on that

[2018-01-11 22:40] mikebronner opened #210 "How to access app instance within test?"
Nevermind - silly me.

[2018-01-11 22:43] #210 closed

[2018-01-26 18:32] tpraxl opened #211 "Load .env for secrets. Cannot use phpunit.xml"
I need to use a secret API Key in my tests.
This key cannot be part of `phpunit.xml`, because it must not end up in the VCS.

I noticed that orchestra/testbench doesn't pick up the package's `.env` file. Is it supposed to ignore it?

I tried the following in my `TestCase` that extends the orchestra/testbench `TestCase`:

[code]

I also tried to copy my `.env` file into the scope of the testbench a

[2018-01-26 19:46] tpraxl commented on #211
Should anyone come across this problem, here's the solution:

[code]

[2018-01-26 19:46] #211 closed

[2018-01-26 23:46] crynobone commented on #211
PHPUnit developers suggests the use of `phpunit.xml.dist`, see <https://stackoverflow.com/a/44764078/1458318>

[2018-01-27 05:34] tpraxl commented on #211
@crynobone thanks for the hint. Besides this option, is there any reason not to load `.env` during application setup?

[2018-01-27 05:41] crynobone commented on #211
1. It's an optional features and not every package developer needs to depends on it.
2. I just prefer to avoid any possible issues with adding an extra dependencies so far.
3. If you needs to verify `.env` usage, you can load it manually and control the interaction (without having to swap how Testbench loads it).

[2018-01-27 05:45] tpraxl commented on #211
I see. Thank you very much.

Would you mind me making a PR that adds the specifics about how this works to the README?

Because it took me some time to figure out that:

1. orchestra/testbench doesn't load .env on purpose (I wasn't sure if this was a setup issue or a bug in the first place)
2. how to make it load the `.env`

[2018-01-27 05:59] crynobone commented on #211
No, I don't want to recommends using `.env`.

[2018-01-27 06:07] crynobone commented on #211
Furthermore we already put a suggested `APP_KEY` on [our README](https://github.com/orchestral/testbench#no-supported-encrypter-found-the-cipher-and--or-key-length-are-invalid). And more than 1k project is using this dummy `APP_KEY` on GitHub. https://github.com/search?q=AckfSECXIvnK5r28GVIWUAxmbBSjTsmF&type=Code&utf8=%E2%9C%93

[2018-01-27 06:19] tpraxl commented on #211
I understand that you don't want that in your README. Thank you for your help and feedback.

[2018-02-03 08:37] crynobone opened #212 "Testbench 3.6 should drop support for PHPUnit 6.0"
The argument is simple, this only affect when you're testing with Laravel 5.6 and above. Lower version will resolves relevant PHPUnit where you don't have to worry.

[2018-02-07 22:55] crynobone commented on #212
Decided to drop support for PHPUnit 6.0+

[2018-02-07 22:55] #212 closed

[2018-03-05 20:39] andrewmclagan opened #213 "--realpath option on artisan migrate [L5.5] does not exist"
There are allot of issues stating this with a

comment.

After investigation and installing version `3.5.x` of this package corresponding to laravel `5.5.x` and looking at the internals of the [`Illuminate\Database\Console\Migrations\Migrate`](https://github.com/laravel/framework/blob/5.6/src/Illuminate/Database/Console/Migrations/MigrateCommand.php#L17) command. There really is no `--realpath` op

[2018-03-05 20:48] andrewmclagan commented on #213
Whooops you have a typo in your docs namespace on `3.5.x`

`Orchestra\Database\ConsoleServiceProvider\ConsoleServiceProvider::class,`

should be

`Orchestra\Database\ConsoleServiceProvider::class,`

[2018-03-05 20:51] andrewmclagan commented on #213
Wrote up a PR

https://github.com/orchestral/testbench/pull/214

[2018-03-06 01:31] #213 closed

[2018-03-27 00:12] lloricode opened #215 "Storage::fake"
how can i use `Storage::fake` with this test bench?

Thanks

[2018-03-27 00:39] crynobone commented on #215
Testbench just handle bootstrapping a dummy Laravel application (skeleton) for packages, how you use it should be similar to how you can test it with Laravel Testing features.

[2018-03-27 00:39] #215 closed

[2018-03-30 00:34] mtrajano opened #216 "Error: Class 'xyz' not found"
For some reason my nested classes aren't being auto-loaded.

This is how my files are structured
[code]

and my composer.json file:
[code]

In my Generator class I initialize PathParameter like so:
`new Parameters\PathParameter()`

But its giving me an error when running in a test environment:
`Error: Class 'Mtrajano\LaravelSwagger\Parameters\PathParameter' not found`

However when I run the comma

[2018-03-30 00:40] crynobone commented on #216
Never encountered such issue

[2018-03-30 00:51] mtrajano commented on #216
@crynobone Neither have I, it's a really weird issue

[2018-03-30 01:24] mtrajano commented on #216
Not sure why but when I ran `composer dump-autoload` with the `--optimize` flag it worked... You can close this ticket I guess, but just leaving this here in case someone else comes across this issue

[2018-03-30 01:29] crynobone commented on #216
Testbench doesn't mess around with autoloading and I have  done  same style initiation before without issues.

[2018-03-30 01:29] #216 closed

[2018-04-02 06:17] lloricode opened #217 "helpers.php"
Hi!, how can i include helper functions like inside file `helpers.php` in testing?

Thanks :)

[2018-04-02 06:17] crynobone commented on #217
Look into how Laravel adds helper files?

Irrelevant to Testbench.

[2018-04-02 06:17] #217 closed

[2018-04-02 06:20] lloricode commented on #217
@crynobone im mean my `package` has a helper, but didnot include when running in test, so the function didnot exist on testing

[2018-04-02 06:28] lloricode commented on #217
hmm, yes in `composer.json` will manage it,
i mean just like in `TestCase` that has

[code]

because it cannot run a `composer.json`, so how possible to test this with a file helpers,
sorry for inconvenience, but how is ti possbile to include helpers?, hmmm maybe just dont make a file helpers?

Thanks @crynobone

[2018-04-02 06:30] lloricode commented on #217
hmm maybe just to `require` a file?

hhmm thanks @crynobone  :)

[2018-04-02 06:33] crynobone commented on #217
Nope, Testbench doesn't autoload files. What you show above is Testbench registering the relevant services to Laravel. THAT TWO COMPLETELY DIFFERENT things.

[2018-04-02 06:41] crynobone commented on #217
This is autoloading: <https://github.com/laravel/framework/blob/v5.6.0/composer.json#L86-L94>

[2018-04-20 20:58] jshayes commented on #213
I just ran into this issue. Seems like the `Orchestra\Testbench\Concerns\WithLoadMigrationsFrom` trait in version `3.5.x` does not work with Laravel `5.5`. From what I can see, `--realpath` was [introduced in Laravel `5.6`](https://github.com/laravel/framework/pull/22852)

[2018-05-01 08:15] andrewmclagan commented on #213
@jshayes No it works. Read this issue and the related PR. All the info is there and in the documentation.

[2018-05-01 14:45] jshayes commented on #213
@andrewmclagan Ah, you're right. My test case was missing the `getPackageProviders` method, adding it fixed the problem.

Thanks.

[2018-05-02 00:30] andrewmclagan commented on #213
Yeah i think it needs better documenting.

[2018-05-02 01:13] crynobone commented on #213
Not worth it, `--realpath` is available with Laravel 5.6 and therefore there no reason to have `orchestra/database` as you would need in earlier versions.

[2018-05-28 13:42] pablorsk opened #218 "How can I prevent rollback between tests?"
I try redefining `loadMigrationsFrom` without rollback event, but when second test runs, data is unavailable.

I'm trying with this code:
[code]

Off course, next tests says:
[code]

[2018-05-28 16:58] pablorsk commented on #218
Temporary solution:

[code]

Memory is cleaned between tests, any ideas for preventing this? Also, **a way to prevent rollback would be interesting**.

[2018-05-28 21:16] crynobone commented on #218
You could just make the custom methods. I have no plans to include this features as each test should be run in isolation. If you planning to use pre-setup database schema then Laravel `DatabaseTransaction` and `RefreshDatabase` trait should be more than enough.

[2018-05-28 21:16] #218 closed

[2018-05-28 23:34] pablorsk commented on #218
Thanks for your reply @crynobone.

`DatabaseTransaction` don't prevent a `:memory:` cleanup between tests :(. Any ideas are welcome...

[2018-05-29 01:21] crynobone commented on #218
I considering this as a bad testing design. Don't expect any recommendations going toward that direction.

[2018-05-31 19:59] lvidal1 commented on #99
I'd been working in several lumen packages I'd like to apply testing on them. Will be support for lumen framework in the future?

[2018-06-01 01:03] crynobone commented on #99
Not on any of my plan.

[2018-06-01 20:58] IgorDePaula opened #219 "Service provider not found"
The ```Orchestra\Testbench\Tests\Stubs\Providers\ServiceProvider``` is not found by phpunit

[2018-06-01 21:16] crynobone commented on #219
This service provider is just a test class used to test testbench. You shouldn't have any need to require this file.

[2018-06-01 21:16] #219 closed

[2018-06-01 21:33] IgorDePaula commented on #219
Ok. I got.

[2018-06-10 19:58] Okipa opened #220 "Session store not set on request when flashing request"
I get the `Session store not set on request.` issue when I try to flash a request, in order to get the `old()` value in  a view.

I tried to add the following code in the `getEnvironmentSetUp` or  in the `setUp` methods but it does not change anything as it was suggested in older versions but without success.
[code]

Here is what I was trying to do in a test :
[code]

What am I doing wrong here ?

[2018-06-10 22:41] crynobone commented on #220
The suggested code was meant for Testbench 3.1 and below.

I don't know exactly what you trying to test that is failing. You could send a failing tests to `testbench-core` to demonstrate how this would fail.

[2018-06-11 08:29] Okipa commented on #220
Yes this is what I understood but I still tried it to check if it had any incidence on my problem.

What I am trying to do is to manually store values in the `_old` part of the session, in order to check a html rendering with `old()` method called.
I don't know if it is a bug or if I am not doing it the right way.
I used Testbench for a few packages testings without any problem but this is the fir

[2018-06-11 08:41] crynobone commented on #220
You can't just use `request()` or `old()` without making a HTTP request, cause

[code]

Is only attach to HTTP middleware when you make a request.

See <https://github.com/orchestral/testbench-core/commit/a7046d52423241d535ea2c48158759b949ed83ff> for reference.

[2018-06-11 08:41] #220 closed

[2018-06-11 08:43] Okipa commented on #220
Ok, so I did it the wrong way ;)
Thank you for this example I search for.

[2018-06-22 12:10] sandervanhooft opened #221 "app instance unavailable during setUp / @before"
While upgrading a package from testbench v3.1 to latest, I noticed the `$this->app` instance is no longer available during test `setUp`.

Is this by design?

[2018-06-22 12:20] crynobone commented on #221
It is by design to be consistent with `Illuminate\Foundation\Testing\TestCase`.

[2018-06-22 12:28] sandervanhooft commented on #221
Thanks for clearing that one up @crynobone :)

[2018-06-22 12:28] #221 closed

[2018-06-29 03:47] andrewmclagan commented on #162
Or to seed test data?

[2018-06-29 04:15] crynobone commented on #162
See [above answer](#issuecomment-279878715).

[2018-07-02 02:45] andrewmclagan commented on #162
@crynobone This works fine. Was just commenting on possible use cases for seeding. We seed our SQLite database with test mocks.

[2018-07-09 10:34] LaurentChardin commented on #199
I had to manually execute the following in testbench folder:

[code]

It actually pulled out the corresponding code.

(which leads to duplication of code because therefore the testbench-core folder added by composer is useless).

[2018-07-09 10:42] crynobone commented on #199
I already answered this issue, yoi simply using it wrongly.

[2018-07-09 10:47] LaurentChardin commented on #199
Yes i was looking at the composer file and the psr4 path is correct.

Thanks

[2018-07-18 03:39] FuriosoJack opened #223 "Clean Config"
Hello, I am doing some tests on my package and I notice that the configuration of my package is being "cached".

My package uses settings that I then publish in the laravel project, but doing the test with your package the configuration every time I run the test is not created as the first time. Rather I see that the configuration file is being left in the _vendor / testbench-core / laravel / conf

[2018-07-18 03:54] crynobone commented on #223
That should be the responsibility of package developer to do so if you need it.

**Testbench** doesn't interfere and now what you are doing during installation/bootstrapping Laravel.

[2018-07-18 05:05] #223 closed

[2018-07-20 12:37] netadvanced opened #224 "."

[2018-07-20 12:38] #224 closed

[2018-08-09 13:14] diegocaprioli opened #225 "ErrorException: Undefined property: stdClass::$migration"
Hello,

I have a simple setUp() method that is failing when calling the method loadMigrationsFrom(). This is my setUp method:

[code]
And I get the following exception:

[code]

The migrations directory I'm using exists... so I'm not sure what could be the problem here. Any ideas?

[2018-08-09 13:16] crynobone commented on #225
You need to look/debug your code. Testbench own tests already check and verify that migrations does works without issues.

And I personally have multiple projects using migration without issues.

[2018-08-09 13:17] diegocaprioli commented on #225
I'm sorry I forgot to let you know:

- orchestra/testbench v3.6.5
- orchestra/testbench-core v3.6.6
- laravel/framework v5.6.31

[2018-08-09 13:18] diegocaprioli commented on #225
Yes @crynobone , I have other projects using migrations without issues too. But this was weird enough, ok, I'll try to see if I figure this out on my own...

[2018-08-13 19:47] Artistan commented on #194
[code]

[2018-08-22 16:25] Okipa opened #226 "Can't get schema column listing"
Hi @crynobone,

I have an issue to get a schema column listing with testbench.
Here is a test I have written to point the problem : https://github.com/Okipa/testbench-core/blob/3.7/tests/SchemaTest.php

This work perfectly in Laravel but I can't get it work on a package testing.

As you can see, my tests are using sqlite and not mysql. Could this cause this wrong behaviour ?
Is there a way to make

[2018-08-22 23:17] crynobone commented on #226
I don't see how it going to work with `:memory:` database, you need to migrate `testbench_users` before using `Schema::getColumnListing('testbench_users')`.

Try again using mysql, or sqlite with physical file and ensure that the table exists, you should get the tests to be green.

[2018-08-22 23:17] #226 closed

[2018-08-23 00:12] #225 closed

[2018-09-05 17:57] rathesDot opened #227 "Class `Mockery` not found"
Hello,

first of all, I want to thank you for your work on this package. It helps so much in testing my own packages.

Currently, I'm trying to upgrade a package to Laravel 5.7 and therefore I upgrade testbench to 5.7. But then, when I run the tests all of them fail giving following exception

[code]

I can actually fix this by running `composer require mockery/mockery`, but I shouldn't do this ma

[2018-09-05 18:11] rathesDot commented on #227
I noticed that Laravel itself loads mockery as a separate dev-dependency (see: https://github.com/laravel/framework/blob/5.7/composer.json#L80) ... But I think, that is going to be ignored as it is require-dev of a dependency ...

Also, I get `orchestra/testbench-core suggests installing mockery/mockery (Allow to use Mockery for testing (^1.0).)`, but for me it looks like we should add it to this

[2018-09-05 23:05] crynobone commented on #227
Not going to change this, the suggestion was there for this specific reason.

[2018-09-05 23:05] #227 closed

[2018-09-08 00:38] introwit opened #228 "Class not found even after autoloading classmap in autoload-dev"
Hi, Thank you for Testbench 🙂

- I am creating a `mailable` class in the `setUp` method of my test class.
- As expected it is created in the `vendor/orchestra/testbench-core/laravel/app/Mail` directory.
- To use that mail class in one my test methods I do `app()->getNamespace() . Mail\\TheClassName`
- But test fails saying `Class App\Mail\TheClassName not found`

I have already added the `vendor/o

[2018-09-08 07:35] crynobone commented on #228
Shouldn't `classmap` require `composer dump-autoload` before composer start accepting the class

[2018-09-08 13:22] antonkomarev opened #229 "Container issues in v3.7.0"
When I'm running `$ vendor/bin/phpunit` there is fatal error:

When Travis trying to run the tests there is another one error:

But when I'm running tests using PHPStorm IDE all tests are green (there are no issues).

v3.6.0 working without any issues.

Here is a link to [failing PR](https://github.com/cybercog/laravel-love/pull/21).

[2018-09-08 22:28] crynobone commented on #229
There no changes in container between 5.6 to 5.7 <https://github.com/illuminate/container/compare/5.6...5.7>

Futhermore Travis also throws that the tests having php memory limits exception. You might want to increase that first since you have no problem running this locally.

[2018-09-08 22:28] #229 closed

[2018-09-09 13:36] antonkomarev commented on #229
I've found solution. It's happens because `$this->artisan` returns `PendingCommand` instead of output. But this [new console behavior could be turned off](https://github.com/laravel/framework/pull/25499).

If there is a need to support Laravel 5.7 as well as earlier framework versions you could you could use `withoutMockingConsoleOutput` method before the artisan call.

[code]

[2018-09-10 23:27] mikebronner commented on #229
Thanks @antonkomarev I was having this problem as well with my console command unit tests.

[2018-09-11 09:15] crynobone commented on #229
This should be added to the README documentation. PR are welcomes

[2018-09-11 11:52] antonkomarev commented on #229
@crynobone I've created PR to the Laravel core: https://github.com/laravel/framework/pull/25573
If it will be rejected - I'll migrate it to this repo.

[2018-09-11 12:44] antonkomarev commented on #229
I've pushed another one solution which seems more flexible for me: https://github.com/laravel/framework/pull/25574

[2018-09-11 13:54] antonkomarev commented on #229
PR was merged, so we will be able to use `run` method for immediately command execution on `PendingCommand` in next release.

[code]

[2018-09-12 07:26] jigneshwebclues opened #230 "Route NotFoundHttpException"
- When i call route from test case file that time i face the `NotFoundException`.
- the way of calling route is `$response = $this->get('login');`

[2018-09-13 01:57] crynobone commented on #230
Please provide more specific information or create a PR with failing tests on <https://github.com/orchestral/testbench-core>

[2018-09-13 01:57] #230 closed

[2018-09-13 05:58] jigneshwebclues commented on #230
Thanks for reply but that i had solve and face new problem that i send you.
[code]
Now the error is
```No matching handler found for Mockery_1_Illuminate_View_Factory::make('login::login', [], []). Either the method was unexpected or its arguments matched no expected argument list for this method```

[2018-09-13 08:11] crynobone commented on #230
This is not how you test with Testbench, and definitely not a bug with Testbench. You should try asking these sort of questions on Laravel's Slack, Forum or StackOverflow.

[2018-09-13 08:11] #228 closed

[2018-09-25 13:14] spawnia commented on #213
This describes how to resolve the issue when using Laravel 5.5:

https://github.com/orchestral/testbench/tree/3.5#running-testing-migrations

[2018-09-25 13:14] spawnia commented on #175
This describes how to resolve the issue when using Laravel 5.5:

https://github.com/orchestral/testbench/tree/3.5#running-testing-migrations

[2018-09-25 13:14] spawnia commented on #172
This describes how to resolve the issue when using Laravel 5.5:

https://github.com/orchestral/testbench/tree/3.5#running-testing-migrations

[2018-09-25 13:14] spawnia commented on #153
This describes how to resolve the issue when using Laravel 5.5:

https://github.com/orchestral/testbench/tree/3.5#running-testing-migrations

[2018-10-05 12:09] sandervanhooft opened #232 "What should a model factory look like?"
Hi,

I'm having a little trouble using `Orchestral/Testbench` with factories. Probably need a bit more information on how to write the factory itself.

I've made sure that the factory is stored at the dir used for

[code]

The factory itself is similar to the ones generated by Laravel 5.7.4:

[code]

Then in my test I try this:

[code]

But I get `InvalidArgumentException : Unable to locate factor

[2018-10-06 04:49] crynobone commented on #232
Wouldn't `__DIR__.'../database/factories'` return `/tests../database/factories/SomeModelFactory.php`?

[2018-10-09 07:48] herpaderpaldent opened #233 "Commands registration and testbanch"
Hi everyone,

the last two days i have tried my best to read the documentation and search into the issue but i reached the point where i need the right nudge into the right direction.

I tried to use orchestral/testbench for one of my Laravel 5.5 packages: https://github.com/herpaderpaldent/seat-groups/  and i fail to migrate my migration files and therefore do DB-tests. I am getting the following

[2018-10-09 07:52] crynobone commented on #233
[code]

Registering commands in not part of Testbench concern. That should be part of Laravel Service Provider is you registered it properly.

[2018-10-09 07:58] herpaderpaldent commented on #233
I registered the command according to Laravels documentation: https://laravel.com/docs/5.5/packages#commands
(except i am not escaping the `runningInConsole` case - which i tried before posting here with no effect)

All i can say: the command in the productive environment is correctly registered and can be executed. (The package is already in use and downloaded over 870 times)

[2018-10-09 08:06] crynobone commented on #233
None of the service providers code is handled by Testbench.

I don't have time to troubleshoot exactly how you intend to load the said command and how it can be causing an issue with when loading Laravel under PHPUnit.

[2018-10-09 08:19] herpaderpaldent commented on #233
i actually don't want to do anything with the command at this point. My tests fail with said exception when the testcase tries to migrate the migrations: `$this->artisan('migrate', ['--database' => 'testbench']);`

[2018-10-18 14:03] paulcanning opened #234 "TestCase not found"
I have created by TestCase class as per the instructions, yet when I make a test and extend TestCase, when I run phpunit, it says class not found.

I have ran composer dump-autoload as well.

TestCase

[code]

Unit Test

[code]

[2018-10-18 14:06] #234 closed

[2018-10-19 07:46] dorin-niscu opened #235 "Global config is null inside controller when testing."
When I access the api with Postman everything behaves normally.

When I run the test **config('users')** is null inside the controller.

**config('app')** and the other Laravel configurations return data.

If I merge the config inside service provider it works, but not with the exported one.

[code]

The test runs fine excepting this.

**Controller**

[code]

**Test**

[code]

[2018-10-19 11:30] dorin-niscu commented on #235
@crynobone I am using the config() helper inside a real controller, not in a test. Is it possible to include it in the Testbench setup like I added service providers and facades?

[2018-10-19 11:32] crynobone commented on #235
Do you see `users.php` under <https://github.com/orchestral/testbench-core/tree/3.7/laravel/config>? Testbench loads config from this folder **during tests**.

[2018-10-19 11:36] dorin-niscu commented on #235
No, of course it`s not there. It is my custom config file which I intend to include in the test if it`s possible otherwise I will run tests using the merged config files.

[2018-10-19 11:40] crynobone commented on #235
If you want to include your custom config file, you need to export it to the skeleton as you would ask your user to do when installing the package, such as using `php artisan vendor:publish`. Testbench doesn't do this automatically because you might want to test with or without the config file.

[2018-10-19 12:02] dorin-niscu commented on #235
I understand. Thanks.

[2018-10-20 06:41] dorin-niscu commented on #235
Would be useful e feature / concern like loadConfigurationsFrom($paths) similar with loadMigrationsFrom($paths)

[2018-10-20 11:47] crynobone commented on #235
No plan at the moment.

[2018-10-20 11:47] #235 closed

[2018-10-23 21:49] amazzoccone commented on #227
I'm having the same problem 😢.

[2018-10-24 03:46] crynobone commented on #227
When you don't want to mock the artisan command plus append the command such as `$this->artisan('migrate')->run();` as suggested from the documentation.

[2018-10-25 04:36] unfalln commented on #227
Apologies for prolonging this, but I do not understand why this is not an issue. I have upgraded testbench 3.6 -> 3.7 and I am now getting an error with every test case that `'Mockery' is not defined` that was not thrown previously. I updated my code to replace `$this->artisan('migrate', ...);` with `$this->loadLaravelMigrations(...);` however I still get themock undefined `Mockery` class error. T

[2018-10-28 19:54] palypster commented on #227
I have **exactly** same issue and same opinion as @unfalln

[2018-12-15 22:51] vkovic opened #236 ""Unable to locate factory with name [default]" in test case data provider method"
When trying to use factory from data provider method

[code]

I get:

[code]

Exact same factory works normally in regular testing method, like:

[code]

My factory file:

[code]

[2018-12-16 03:17] crynobone commented on #236
Did you tell Testbench where to load the factories from?

[2018-12-16 09:40] vkovic commented on #236
Yep, in my TestCase.php i have

[code]

Actually the same factory is working in regular test method, like this

[code]

[2018-12-16 11:32] crynobone commented on #236
I think you should recheck the path that you use, I already using factories on my project and doesn't have any issues regarding this.

E.g <https://github.com/laravie/authen/blob/master/tests/TestCase.php>

[2018-12-16 14:11] vkovic commented on #236
The path is correct. If it was wrong, than another example I gave wouldn't work.

I just checked your example and I noticed that actually you're not using [data provider](https://phpunit.de/manual/3.7/en/writing-tests-for-phpunit.html#writing-tests-for-phpunit.data-providers.examples.DataTest.php) in your tests,
and this issue is directly related to one. Data providers are however defined in PHPUn

[2018-12-16 14:20] crynobone commented on #236
I personally don't have the time to work on such feature, however anyone who has similar interest can send a PR to support this.

[2018-12-23 16:31] pablorsk commented on #179
You can redefine your config values only for your all TestCase, not for particular test. You only need split yout TestCase for every config.

[code]

[2019-01-16 16:24] andrewgorpenko opened #237 "Allow using App\ namespace"
HI. Please, add a new configuration option to allow using App\ namespace. I know about your idea to make developers "save", but we need some kind of "override".

I mean the following: it is often needed to access application models. For example factories. If I want to make a fake model, I cannot do that, because there is no access to App\Models namespace for example. Of course there are many many

[2019-01-16 19:23] andrewgorpenko commented on #237
I mean the following: it is often needed to access application models. For example factories. If I want to make a fake model, I cannot do that, because there is no access to App\Models namespace for example. Of course there are many many different situations where it would be really handy.

However, if you wont add this feature to your repo, then can you advise me how to do that by itself? I mean

[2019-01-17 02:52] crynobone commented on #237
No, this has been discussed in the FAQ under the documentation. Feel free to look at example how this can be done <https://github.com/laravie/authen/tree/master/tests>

[2019-01-17 02:52] #237 closed

[2019-02-01 23:44] mfn opened #238 "Testbench not compatible with PHPUnit 8"
PHPUnit 8 introduced return type `: void` it's `TestCase` class, like `setUp`, `tearDown`, etc. which all have to be adapted.

[2019-02-02 04:37] crynobone commented on #238
This changes will only happen after Laravel start migrating/upgrading to PHPUnit 8

[2019-02-02 05:51] mfn commented on #238
I figured so, it just looked like a chicken/egg thing that when I locally updated the test unit I couldn't really do it because the dependency doesn't work 😄

[2019-02-02 07:05] crynobone commented on #238
https://github.com/laravel/framework/pull/26457#issuecomment-437672713

We want to avoid things like this from happening again.

[2019-02-02 09:07] mfn commented on #238
Hey thanks! :feelsbad:

[2019-02-03 14:01] GrahamCampbell commented on #238
Laravel can't upgrade because Taylor wants to keep php 7.1 compatibility in the 5.8 release. So, I guess Laravel will not support phpunit 8 until laravel 5.9.

[2019-02-03 14:02] GrahamCampbell commented on #238
I did see this issue coming 5 months ago, and suggested Laravel 5.8 switched to PHP 7.2+, but no. 🤷‍♀️

[2019-02-07 17:03] driesvints commented on #238
Both PHPUnit 7 and 8 can be supported. Sent in a PR here: https://github.com/orchestral/testbench-core/pull/18

[2019-02-09 02:01] #238 closed

[2019-02-11 11:53] Naoray opened #240 "Clearing app_path() dir"
I am trying to write a test where eventually a model gets created via `make:model` command. But because it is saved in the `laravel/app` directory, the second time this test run, it fails. Is there any way to reset the `laravel/` directory?

[2019-02-11 11:55] crynobone commented on #240
`File::delete(app_path('User.php'));` on teardown?

[2019-02-11 12:03] Naoray commented on #240
@crynobone thanks. I did go with

[code]

Another question: When I call `class_exists()` on a model created I get `false`. Any reason why or advice on how to fix this?

[2019-02-11 12:42] crynobone commented on #240
Not by default, if you need it to be, please handle it on your project.

[2019-02-11 12:42] #240 closed

[2019-02-28 19:30] iamazik opened #241 "The Mix manifest does not exist"
I couldn't find any closed issues related to this, nor in Stack Overflow. So, here I'm.

Everything is working great except the `mix()` helper function which couldn't find the `mix-manifest.json` from the custom package `public` directory. After some digging I see that `mix()` helper is looking for the `mix-manifest.json` file in the `testbench` Laravel public directory instead of the custom packa

[2019-03-01 07:02] crynobone commented on #241
Do you have any suggestion how to solve this?

[2019-03-01 09:43] iamazik commented on #241
The suggestion would be to override `public_path()` helper function to ensure it returns the `package/public` path instead of the `/Users/John/Documents/Repositories/Package/vendor/orchestra/testbench-core/src/Concerns/../../laravel/public/` directory. Since testbench isn't overriding the `public_path()` helper, it's still returning the path from inside of the techbench package Laravel public fold

[2019-03-01 09:54] iamazik commented on #241
@crynobone In a normal Laravel application, we can define the `APP_BASE_PATH` that appears here https://github.com/laravel/laravel/blob/master/bootstrap/app.php#L15. Can we somewhere define the `APP_BASE_PATH` in testbench so it may fix all the path everywhere instead of only overriding the `public_path()` function?

[2019-03-01 11:05] crynobone commented on #241
Can't you just override `'public.path'` through IoC?

[2019-03-01 11:18] iamazik commented on #241
Yeah, it will work. Any hints on how to do this?

[2019-03-02 06:52] crynobone commented on #241
[code]

[2019-03-02 06:52] #241 closed

[2019-03-11 09:29] rushairer commented on #206
OK,

please note  that at README.md file.

[2019-03-22 03:22] jsdmultisys opened #242 "Can we load the migration files from outside the test namespace?"
Hello.

Currently, we can run the migration files in the `/tests/database/migrations` folder. Can orchestra see the migrations from `../src/database/migrations` ? This way, I would not have to copy the migration files in my packages into the test migration folder.

I have tried

[code]
but it would still not see it unless I do:

[code]

and copy the files from the `/src/database/migrations` folder

[2019-03-22 05:28] crynobone commented on #242
![Screen Shot 2019-03-22 at 1 27 54 PM](https://user-images.githubusercontent.com/172966/54802457-57a19480-4ca6-11e9-9459-8de20121779e.png)

Why not use `ServiceProvider::loadMigrationsFrom()`?

[2019-03-22 06:25] jsdmultisys commented on #242
@crynobone

Are you suggesting that instead looking at the src/database/migrations, my service provider will look into the tests/database/migrations? I need your suggestion, is that the proper way?

Currently my service provider is like this:

[code]

and you are suggesting to do like:

[code]

Is that correct? Will laravel automatically migrate this even without publishing?

[2019-03-22 06:33] crynobone commented on #242
If you're storing the migrations file in `src` folder, doesn't that mean it's part of the "deployment" migration and not just for tests? If yes then it should already be added in our package `ServiceProvider`.

[2019-03-22 06:37] jsdmultisys commented on #242
@crynobone Yes it is part of the deployment and I am doing auto discovery by Laravel so even the migration is not published, it will be migrated. Currently, I have to copy those files to the tests folder so that it will run before the test executes. Not sure how others are doing it.

[2019-03-22 06:40] crynobone commented on #242
1. <https://laravel.com/docs/5.7/packages#migrations>
2. Have the service provider added to `getPackageProviders($app)`
2. Run `$this->artisan('migrate')->run()` for Laravel 5.7+

It should be migrated.

[2019-03-22 06:41] crynobone commented on #242
No you don't have to copy the file to tests if it's already registered with ServiceProvider.

[2019-03-22 06:47] jsdmultisys commented on #242
@crynobone Ohhh. I just need to

[code]
so it will see the package's migration files in the test. Thank you so much! 🎉

[2019-03-22 06:49] crynobone commented on #242
We don't use auto-discovery because you might want to test scenarios where packages is not loaded etc.

[2019-03-22 06:49] #242 closed

[2019-03-22 06:50] jsdmultisys commented on #242
@crynobone I will keep that in mind. Thanks a lot!

[2019-04-17 15:38] ludo237 commented on #232
Hijacking this issue to ask a question

I've this

`$this->withFactories(__DIR__.'/database/factories');` which is the correct path but when I try to run the test I get

[code]

My factory looks like this

[code]

Any suggestion?

[2019-04-17 22:46] crynobone commented on #232
`Call to a member function define() on null`

You can start debugging asking why `$factory` is `null`. Did you run `$this->withFactories()` too early?

[2019-05-03 17:29] MarekGogol commented on #184
Hello,

I have same problem. Googling, stackowerflowing, but I can't find any correct way for solving this particular case. My package generates files in app/ folder, and then this package loads them for some purposes... How is correct way to load this files with namespaces from app folder in tests?

Thanks,

[2019-06-03 23:28] antonkomarev opened #243 "Migration run ordering"
Orchestra v3.8.1

Orchestra runs migration in this order:
1) Package migrations registered in package Service Provider: `database/migrations`
2) Application published migrations: `vendor/orchestra/testbench-core/laravel/database/migrations`
3) Package tests migrations: `tests/database/migrations`

I need to run package tests migrations first of all. How can I do it?

In `TestCase.php` I'm loading

[2019-06-04 11:15] antonkomarev commented on #243
Sorry, I was wrong with describing order in initial post, so I've edited it.

[2019-06-05 11:53] crynobone commented on #243
What's the purpose of `RefreshDatabase` when you are testing with sqlite `:memory:` configuration?

[2019-06-05 13:05] antonkomarev commented on #243
This is the same config for all my repositories (some of them using mysql in tests). To be assure that everything will be migrated from scratch on each run.

[2019-06-05 14:04] crynobone commented on #243
Well, it's not useful and cause issue exactly as you experienced right now.

[2019-06-05 14:06] crynobone commented on #243
`:memory:` already covers this. You don't need RefreshDatabase unless you are working with persistent database storage

[2019-06-06 10:26] #243 closed

[2019-06-07 03:43] andrewmclagan opened #244 "Dependancy resolution issues when upgrading 3.5 > 3.8"
Issues when mocking out dependancies of a console `Command`.

We upgraded:

- PHPUnit `6` to `8`
- orchestral/testbench `~3.5` to `~3.8`

No code changes, tests pass when rolling back to previous versions.

Also if we comment-out loading test migrations it works again:

[code]
The tests that fail mock out dependancies of a `Command`:

[code]

The dependancy `IndexManager` is injected into the comm

[2019-06-07 03:53] crynobone commented on #244
We haven't changed anything on our end, the only recent changes to artisan command is to enable testing support for artisan command in that is coming from Laravel Framework testing class.

[2019-06-07 05:09] andrewmclagan commented on #244
Okay, thats a start thank you. I will head-over to the laravel repo and see if people are reporting anything.

[2019-06-07 05:31] andrewmclagan commented on #244
@crynobone I have investigated the internals of Testbench from `3.5` to `3.8` and there actually is a change that is effecting this. I will outline:

in `3.5` migrations are run via the trait: `Orchestra\Testbench\Concerns\WithLoadMigrationsFrom` without calling `->run()` and also setting the console kernel to null. Whereas in `3.8` there is a new class `Orchestra\Testbench\Database\MigrateProcess

[2019-06-07 06:09] andrewmclagan commented on #244
So ... narrowing it down even more:

in `3.8` there are _also_ changed to the artisan migrate command options

3.8:
[code]

3.5:
[code]

in `3.8` if i comment out `$options['--path'] = 'migrations';` ours tests pass

[2019-06-07 06:20] andrewmclagan commented on #244
So in conclusion the difference between `3.8` and `3.5` is `$this->app[ConsoleKernel::class]->setArtisan(null);` is no longer called in `3.8` and  calling it manually addresses the issue

[2019-06-09 01:26] antonkomarev commented on #243
@crynobone thanks. I've removed all `RefreshDatabase` traits usage and added manual migrate launching command:

[code]

Now it seems to work.

[2019-06-10 08:43] crynobone commented on #244
Fixed in:

* https://github.com/orchestral/testbench-core/releases/tag/v3.6.7
* https://github.com/orchestral/testbench-core/releases/tag/v3.7.9
* https://github.com/orchestral/testbench-core/releases/tag/v3.8.5

[2019-06-10 08:43] #244 closed

[2019-07-07 01:31] calebporzio commented on #184
I ran into this same problem. To solve it, add the following snippet to the composer.json of your package:

[code]

Kinda hacky, but it does the trick.

[2019-07-07 03:52] crynobone commented on #184
@calebporzio is the project you working on opensourced?

[2019-07-07 16:37] calebporzio commented on #184
Not yet, will be. Why do you ask?

[2019-07-09 01:24] crynobone commented on #184
Wondering if we can use `phpunit.xml` bootstrap file configuration to set a custom bootstrap file and register the namespace from there.

[code]

[2019-07-09 03:59] calebporzio commented on #184
Yeah, I suppose I could. Are there any advantages to that approach? None come to mind.

[2019-07-09 04:24] crynobone commented on #184
No actually, just wondering which method to promote if this is included in the troubleshooting section on the documentation

[2019-07-10 12:49] calebporzio commented on #184
Ah, I would think adding it to the composer.json would have a lower barrier to entry.

[2019-07-29 13:18] NoelDavies opened #245 "Testing console commands"
I have a command that I want to test, It's pretty simple, takes 2 arguments into the constructor (resolved from the container), runs over a few if statements and calls a method on an injected service dependant on the result of the conditionals.

Now, I want this to be tested (Test all the things) but can't seem to find a way, with or without testbench, to be able to test a console command.

My iss

[2019-07-31 14:30] Arkitecht commented on #245
We use a CommandTestCase class: https://gist.github.com/Arkitecht/bd4ef59ceca2a8a8b673d79ab1ba61a1

Then you can test by either running and checking for output, or checking db, or invoking methods on the command directly and checking returns